
.card_main {
    position: relative;
    background-color: #fff;
    box-shadow: 0px 10px 20px 0px rgba(229, 229, 229, 0.75);    
    display: inline-block;
    width: 100%;    
    border-radius: 4px;
    padding:25px;    
    margin:0px 0px 5px;
	}
.bg-light-magenta {
    width:85px;
    height:85px;
    background:#ffeaea;
    border-radius:60px;
    float:left;
    text-align:center;
    line-height:90px;
    color:#111111;
	}
.bg-light-magenta i.fa.fa-bell {
    color:#ff0000;
	}
.mn_left {
    display:inline-block;
    float:left;
    margin-right:10px;
	}
.mn_right {
    text-align:right;
    display:inline-block;
    width:calc(100% - 95px);
	}
.mn_right h3 {
    font-size: 22px;
    margin: 0px;
    color: #a8a8a8;
	}
.mn_right h5 {
    font-size: 18px;
	}
.container.main_stud {
    background: #f0f1f3 !important;
    width: 100%;
    max-width: 100%;
    padding:10px 30px 15px;
    min-height: 100vh;
	}
.main_studOne ul.tabs li a {
    color: #111111;
    font-size: 16px;
    font-weight: 500;
    padding: 5px;
	}
.main_studOne ul.tabs li a.active {
    color: #ee6e73;
	}
.main_studOne ul.tabs li.tab {
    height: auto !important;
	}
.main_studOne ul.tabs {
    height: auto !important;
	}
.bg-light-magenta .fa {
    text-align: center;
    font-size: 28px;
	}
.bg-light-magenta i.fa.fa-bell {
    color: #ff0000;
	}
.bg-light-magenta.magenta_to {
    background: #fff2d8;
	}
.bg-light-magenta.magenta_to i.fa.fa-calendar {
    color: #ffa001;
	}
.bg-light-magenta.magenta_tr {
    background: #d1f3e0;
	}
.bg-light-magenta.magenta_tr .fa {
    color: #3cb878;
	}
.bg-light-magenta.magenta_fr {
    background: #e1f1ff;
	}
.bg-light-magenta.magenta_fr .fa {
    color: #3f7afc;
	}
.bg-light-magenta.magenta_fv {
    background: #f3e5f5;
	}
.bg-light-magenta.magenta_fv .fa {
    color: #8e24aa;
	}

.bg-light-magenta.magenta_sv .fa {
    color: #00b6bf;
	}
.bg-light-magenta.magenta_sv {
    background: #00b6bf5c;
	}
.bg-light-magenta.magentas_et .fa {
    color: #a649f2;
	}
.bg-light-magenta.magentas_et {
    background: #a649f259;
	}
.bg-light-magenta.magenta_se .fa {
    color: #ff1d78;
	}
.bg-light-magenta.magenta_se {
    background: #ff1d7859;
	}
.main_stud .card.material-table {
    margin-top: 0px;
	}
.main_stud .card.material-table .table-header {
    border-bottom: 1px solid #9c9a9a;
	}
.main_stud .card.material-table table#lessiontable thead tr th {
    font-size:18px;
    color:#111111;
	}
.main_stud .card.material-table table#lessiontable tbody tr td {
    font-size:14px;	
	}
.main_stud .card.material-table  .table-footer {
    font-size:13px !important;
	}
.main_stud .card.material-table .table-footer label {
    font-size:14px !important;
	}
.main_stud .card.material-table .table-footer div#lessiontable_info {
    font-size:14px !important;
	}
nav .brand-logo{
    margin-left:10px;
	}
ul#nav-mobile ul li {
    position: relative;
	}
#totalnotification{
	color:white; 
	border-radius:100%; 
	line-height:20px; 
	text-align:center; 
	font-size:11px; 	
	top:10px; 
	right:20px; 
	z-index:9;     
    height:22px !important;
    width:22px !important;    
    max-width:100%;
    background:#00000047;    
    line-height:22px;
    padding:0px !important;
    min-width:inherit;
    position:absolute;
	}
   .notfivation_ative{
		background:##ff000 !important;  
	}
	#totalmessages{
	color:white; 
	border-radius:100%; 
	line-height:20px; 
	text-align:center; 
	font-size:11px; 	
	top:10px; 
	right:20px; 
	z-index:9;     
    height:22px !important;
    width:22px !important;    
    max-width:100%;
    background:#00000047;    
    line-height:22px;
    padding:0px !important;
    min-width:inherit;
    position:absolute;
	}
	.messages_ative{
		background:##ff000 !important;  
	}
.vtn_msg{
    cursor: pointer;
    background: #ee6e73;
    border-radius: 4px;
    color: #fff;
    border: 1px solid #ee6e73;
    display: inline-block;
    margin-top: 15px;
    text-align: center;
    font-size: 16px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    width: auto !important;
    padding: 6px 30px !important;
    float: right;
	}
.tnvid img {
    width: 100%;
    }
.tnvid {
    border-radius: 100%;
    overflow: hidden;
    }   
.mid_way {
    border-radius: 10px;
    box-shadow: 0px 10px 20px 0px rgba(229, 229, 229, 0.9);
    height: auto;
    background-color: white;
    margin-top: 10px;
    max-width: 1200px;
    margin:0px auto 25px;
    padding:25px;
    }
.mid_way .row {
    margin-bottom: 0px;
    }
.vd_mid a {
    font-size: 22px;
    text-transform: capitalize;
    color: #111;
    }
table.tbl_grd {
    max-width: 105px;
    }
.tbl_acti tbody tr td:first-child {
    width: 40px;
    }
.mn_fav .fa {
    font-size: 24px;
    color: #ee6e73;
    }
.tbl_acti tbody tr td {
    padding: 0px;
    }
table.tbl_acti {
    margin-bottom:15px;
    }
.vd_mid {
    margin-top:10px;
    }

div#cirruculum .dataTable thead tr th {
    font-size: 18px;
    color: #111111;
    padding: 15px;
}

div#cirruculum .dataTable tbody tr td {
    padding: 15px;
}

div#cirruculum .table-footer {
    font-size: 14px !important;
}



.right ul#dropdown {
    min-width:280px;
    top: 64px !important;
    right: 0px !important;
    left: inherit !important;
    }
.right ul#dropdown li a p {
    margin: 0px;
    color: #333;
    font-size: 15px;
    }
.right ul#dropdown li a p span {
    font-size: 14px;
    color: #8a8a8a !important;
    }
.right ul#dropdown li + li {
    border-top: 1px solid #ccc;
    }
.right ul#dropdown li a {
    padding:15px 25px;
    }
.right ul#dropdown li a p span strong {
    display: inline-block;
        color: #ee6e73;
    }
ul#nav-mobile ul li.vsn_vx > a {
    width: 40px;
    height: 40px;
    padding: 0px;
    border-radius: 100%;
    margin-top: 10px;
    overflow: hidden;
        border: 1px solid #f1f1f1;
    outline: none;
    }
ul#nav-mobile ul li.vsn_vx a img {
    width: 100%;
    height: 100%;
    }
ul#nav-mobile ul li.vsn_vx {
    margin-right: 15px;
    }
ul#nav-mobile ul li.vsn_vx:hover {
    background: none !important;
    }
.dropdown-content.drop_cont {
    min-width: 180px !important;
    top: 65px !important;
    }
.dropdown-content.drop_cont li a {
    color: #111;
    font-size: 15px;
    }
.right ul#dropdownone li a p {
    margin: 0px;
    color: #333;
    font-size: 15px;
    }
.right ul#dropdownone li a p span {
    font-size: 14px;
    color: #8a8a8a !important;
    }
.right ul#dropdownone li + li {
    border-top: 1px solid #ccc;
    }
.right ul#dropdownone li a {
    padding:15px 25px;
    }
.mig_wit {
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 60%;
    max-width: 190px;
    height: 190px;
    overflow: hidden;
    margin: 10px auto;
    vertical-align: middle;
    display: flex;
    align-items: center;
    width:100%;
    }
.vx_nam b {
    font-size: 20px;
    color: #111;
    margin-left: 5px;
    font-weight: 400;
    }

.vx_eml {
    margin-top: 60px;
}

.vx_rtr span {
    font-size: 18px;
    margin-right: 10px;
    text-transform: capitalize !important;
}

.vx_rtr {
    margin-bottom: 10px;
}

.vx_rtr a {
    font-size: 16px;
    color: #ee6e73;
    }

table.vx_rigt tr td {
    padding-top: 0px;
    padding-bottom: 0px;
    }
table.vx_rigt {
    margin-top: 55px;
    }
.mig_wit img {
    margin: 0px auto;
    }
.vx_man center a {
    color: #ee6e73;
    }
div#myprofile .card-content .row {
    margin-bottom: 0px;
    }
ul#picdropdown {
    position: static !important;
    width: 300px !important;
    box-shadow: none;
    border: 1px solid #ccc;
    text-align: center;
    margin: 10px 0px 0px;
    }
div#myprofile .card.myprofilecard {
    max-width: 1600px;
    margin: 0px auto;
    }


#app nav {
    background-color: #ffffff;    
    margin-bottom: 1px;
    }
#app nav ul a {    
    color: #808080;
    }
ul#nav-mobile ul li.active {
    background: none !important;
    }
ul#nav-mobile ul li.active a {
    color: #ee6e73;
    }




    /* 30 may */

.main_div_str
{
    width: 100%;
    float: left;
    margin: 0px;
    padding: 0px;
    margin-top: 5%;
}   
.main_div_str_bott_s
{
    width: 1088px;
    float: left;
    margin: 0px;
    padding: 0px;
    height: 90px;
}

.main_div_str_main
{
    width: 100%;
    float: left;
    margin: 0px;
    padding: 0px;   
}

.main_div_str_one
{
    width: 18.5%;
    float: left;
    padding: 0px;
    position: relative;
    margin: 0.5% 0.7%;
}


.main_div_str_one .quick-view {
    display: none;
    position: absolute;
    top: 45%;
    left: 25%;
}

.main_div_str_one:hover .quick-view {
    display: block;
}

/*.main_div_str_one a
{
    background: white;
    color: #000;
    -moz-box-shadow: rgba(0, 0, 0, 0.16) 0 2px 8px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0 2px 8px;
    box-shadow: rgba(0, 0, 0, 0.16) 0 2px 8px;
    padding: 12px 5px;
}*/

a.quick-view {
    background: #ffffff;
    color: #000;
    -moz-box-shadow: rgba(0, 0, 0, 0.16) 0 2px 8px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0 2px 8px;
    box-shadow: rgba(0, 0, 0, 0.16) 0 2px 8px;
    padding: 8px 16px;
    float: left;
    cursor: pointer;
}


.img_di_n {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0px;
}


.main_div_str_one_ine
{
    width: 18.7%;
    float: left;
    padding: 0px;
    position: relative;
    margin: 0.5% 0.5% 2%;
}

.img_di_n_in
{
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0px;
    float: left; 
}

.main_div_str_one_ine img {
    width: 100%;
}

.main_div_str_one_ine .quick-view {
    display: none;
    position: absolute;
    top: 44%;
    left: 21%;
}

.main_div_str_one_ine:hover .quick-view {
    display: block;
}


.img_di_n img {
    width: 100%;
}

.main_div_str_one_ine .quick-view {
    display: none;
    position: absolute;
    top: 28%;
    left: 32%;
}


.container.inner_det_s {
    width: 85%;
}

.img_di_n_in h3 {
    font-size: 20px;
}




/*
.main_div_str_one_ine .bg-light-magenta {
    background: transparent;
    width: 75px;
    height: 75px;
    padding-top: 3px;
}

*/



/*.main_div_str_one_ine .bg-light-magenta i.fa {
    color: #ff0000;
    font-size: 28px;
}*/

.col_o {
    background: #ffffff;
    border-radius: 5px;
    padding: 10px 0;
    -webkit-box-shadow: 0px 1px 7px -1px rgba(0, 0, 0, 0.13);
    -moz-box-shadow: 0px 1px 7px -1px rgba(0, 0, 0, 0.13);
    box-shadow: 0px 1px 7px -1px rgba(0, 0, 0, 0.13);
}

.col_o h3 {
    color: #000000;
    font-size: 20px;
    letter-spacing: 0.5px;
    float: left;
    margin-top: 28px;
    padding-left: 11px;
    font-weight: 300;
    text-transform: capitalize;
}


.main_div_str_one_ine .mn_left {
    margin-left: 10px;
}

.col_o .bg-light-magenta {
    width: 75px;
    height: 75px;
}



ul.new_tab_section {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    position: relative;
    height: 58px;
    background-color: #fff;
    margin: 0 auto;
    width: 100%;
    white-space: nowrap;
}



ul.new_tab_section li.tab1 {
    color: #111111;
    font-size: 16px;
    font-weight: 500;
    padding: 0px 0px;
}

li.tab1 {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    display: block;
    float: left;
    text-align: center;
    line-height: 54px;
    height: 58px;
    padding: 0;
    margin: 0;
    text-transform: uppercase;
    text-overflow: ellipsis;
    overflow: hidden;
    letter-spacing: .8px;
    width: 15%;
    min-width: 80px;
}

ul.new_tab_section li.tab1 a {
    color: #000;
}


ul.new_tab_section li.tab1 a {
    color: #000;
    display: block;
    width: 100%;
    height: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-transition: color .28s ease;
    -moz-transition: color .28s ease;
    -o-transition: color .28s ease;
    -ms-transition: color .28s ease;
    transition: color .28s ease;
}

ul.new_tab_section li.tab1 a:hover {
    color: #f9c9cb;
}

ul.new_tab_section li.tab1 a.active {
    color: #ee6e73;
    border-bottom: 2px solid #ee6e9e;
}








.fancybox-wrap.fancybox-desktop.fancybox-type-html.fancybox-opened {
    width: 90% !important;
    height: 90% !important;
    }
.fancybox-opened .fancybox-inner {
    width: 100% !important;
    height: 100% !important;
    min-height: 450px !important;
    }
.fancybox-opened iframe#iframeobj {
    width: 100%;
    height: 100%;
    max-height: 900px;
    min-height: 800px;
    }
.com_pop a.checkurlcls.active_cls {
    color:rgb(79, 185, 225) !important;
    }
.com_pop a.checkurlcls {
    color: #333 !important;
    font-size: 22px;
    text-decoration: none !important;
    padding: 0px 15px 0px 0px;
    text-transform: capitalize;
    }

a.btn.btn-primary.pull-right.unique {
    background: #ee6e73;
    margin: 10px;
    border-color: #ee6e73;
}

.unitesBack a {
    border: 1px solid #ccc;
    display: inline-block;
    margin-bottom: 5px;
    padding: 5px 10px !important;
    color: #333;
    font-size: 18px !important;
}

.lecturescls {
    border: 1px solid #cccccc52;
    padding: 0px;
    min-width: 150px;
    height: 85px;
    vertical-align: middle;
    text-align: center;
    color: #fff;
    font-size: 16px !important;
    border-radius: 2px;
    background: #ed1c2482;
    display: table-cell;
    align-items: center;
    box-shadow: 0px 10px 20px 0px rgba(229, 229, 229, 0.75);
    width: 100% !important;
}

.fancybox-wrap.fancybox-desktop.fancybox-type-iframe.fancybox-opened {
    width:550px !important;
    height: 400px !important;
    margin: 0 auto !important;
    display: table !important; 
}

p.fancybox-error {
    text-align: center;
    font-size: 26px;
    line-height: 46px;
}
.lecturescls a {
    color: #fff;
    text-transform: capitalize;
}



.main_div_str_one .quick-view .lecturescls {
    border:none;
    padding: 0px;
    min-width:inherit;
    height:auto;
    vertical-align: middle;
    text-align: center;
    color:#333;
    font-size: 15px !important;
    border-radius: 0px;
    background: none;
    display: table-cell;
    align-items: center;
    box-shadow:none;
    width:auto !important;
}
.main_div_str_main.backbtncls .main_div_str_one_ine.col_o {
   width: 17%;
   margin: 5px;
}

.main_div_str_main.backbtncls a.btn.btn-primary.pull-left {
   margin: 0 !important;
   margin-top: 30px !important;
   position: relative;
   left: -10px;
}

.main_div_str_main.backbtncls .main_div_str_one_ine.col_o .mn_left {
   width: 60px;
}

.main_div_str_main.backbtncls .main_div_str_one_ine.col_o .mn_left img {
   width: 100%;
}






iframe#fancybox-frame1592975700758 {
    height: 95vh !important;
    width: 100%  !important;
}


/*amit add css*/

.ti-menu-alt{
        display: none !important;
    }
    .ti-layout-grid2{
        display: none !important;
    }
    .ti-sharethis{
        display: none !important;
    }
    .ti-more-alt{
        display: none !important;
    }
	
	.plyBtn {
    cursor: pointer;
    background: #ee6e73;
    border-radius: 4px;
    color: #fff;
    border: 1px solid #ee6e73;
    display: inline-block;
    margin-top: 15px;
    text-align: center;
    font-size: 16px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    width: auto !important;
    padding: 3px 20px !important;
    /* float: right; */
}
	/*end css*/*/
	
	@media (min-width: 1367px){
 html body div#GameContainer {
   max-height: 90% !important;
 }
}
/* 30 june */

div#GameContainer a.checkurlcls.active_cls {
color: #039be5 !important;
}
div#GameContainer a.checkurlcls {
    float: left !important;
    color: #000 !important;
    font-weight: 600;
}

div#GameContainer tbody td {
    width: auto !important;
    display: initial;
    padding: 15px 10px;
    float: left;
}

div#GameContainer tbody td:nth-child(2) {
    display: none;
}


canvas#c2canvas {
    max-height: 510px !important;
}

div#c2canvasdiv {
    background: #fff !important;
}

div#GameContainer body {background: #fff;padding: 4px;}

body {
    background: #fff;
  
}

div#GameContainer {
    max-height: 510px !important;
}






/****/



table.tbl_grd {
    max-width: 350px !important;
    }
table.tbl_grd tbody tr td:first-child {
    width: 62px !important;
    }

.btn_lang a.dropdown-button img {
    padding-top: 0px !important;
}

.btn_lang a.dropdown-button {line-height: 65px;}

li.btn_lang {
    position: relative;
}

.drop_lang {
    top: 65px !important;
    min-width: auto !important;
}
.right ul#dropdown li a img {
    border-radius: 50%;
    border: 1px solid #ccc;
    }
.main_div_str_bott_s img {
    width: 100%;
    }
.main_div_str_bott_s {
    width: 100%;
    }
.main_studOne ul.tabs li a {    
    font-size: 15px !important;
    font-weight: 600 !important;    
    font-family: "Roboto", sans-serif;
    }



/****/