@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

/*@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');*/



/*html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}*/

body{
    font-family: 'Roboto', sans-serif !important; 
    font-weight:400; 
}
	
html body .main_studOne ul.tabs li a {
    font-size: 20px !important;
    font-family: 'Roboto', sans-serif !important; 
    font-weight:600; 

}
	
div.material-table table th {
  font-family: 'Roboto', sans-serif !important; 
    font-size: 20px !important;
    font-weight: 600 !important;
}
	
.right ul#dropdownone li a {
    text-align: center;
}	







    