ol,ul{
  list-style:none;
  margin:0px;
  padding:0px;
}
#frame {
    width:100%;
    min-width:310px;
    max-width:100%;
    height:78vh;
    min-height:300px;
    max-height:720px;
    background:#ffffff;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
  }
.main_tutor.main_chatBox {
    min-height:inherit;
    padding-bottom:10px;
    padding: 10px 10px 10px;
  }

@media screen and (max-width: 360px) {
  #frame {
    width: 100%;
    height: 100vh;
  }
 
/* 12 oct */ 
li.contact.active.no_user_list {
    width: 80%;
    margin: 0 auto;
}
li.contact.active.no_user_list 
 p.name.text-center {
    font-size: 13px;
}
li.contact.active.no_user_list .meta {
    width: 80% !important;
    padding-right: 0px !important;
    margin-top: 7px;
}  
  
}

#frame #sidepanel {
  float: left;
  min-width: 280px;
  max-width: 340px;
  width: 40%;
  height: 100%;
  background: #2c3e50;
  color: #f5f5f5;
  overflow: hidden;
  position: relative;
}

@media screen and (max-width: 735px) {
  #frame #sidepanel {
    width: 100%;
    min-width: 58px;
    max-width: 100%;
  }
  
/* 12 oct */  

li.contact.active.no_user_list {
    width: 80%;
    margin: 0 auto;
}
li.contact.active.no_user_list 
 p.name.text-center {
    font-size: 13px;
}
li.contact.active.no_user_list .meta {
    width: 80% !important;
    padding-right: 0px !important;
    margin-top: 7px;
}
  
}

#frame #sidepanel #profile {
  width: 80%;
  margin: 25px auto;
}

@media screen and (max-width: 735px) {
  #frame #sidepanel #profile {
    width: 100%;
    margin: 0 auto;
    padding: 5px 0 0 0;
    background: #32465a;
  }
}

#frame #sidepanel #profile.expanded .wrap {
  height: 210px;
  line-height: initial;
}
#frame #sidepanel #profile.expanded .wrap p {
  margin-top: 20px;
}
#frame #sidepanel #profile.expanded .wrap i.expand-button {
  -moz-transform: scaleY(-1);
  -o-transform: scaleY(-1);
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}
#frame #sidepanel #profile .wrap {
  height: 60px;
  line-height: 60px;
  overflow: hidden;
  -moz-transition: 0.3s height ease;
  -o-transition: 0.3s height ease;
  -webkit-transition: 0.3s height ease;
  transition: 0.3s height ease;
}

@media screen and (max-width: 735px) {
  #frame #sidepanel #profile .wrap {
    height: 55px;
  }
}

#frame #sidepanel #profile .wrap img {
  width: 50px;
  border-radius: 50%;
  padding: 3px;
  border: 2px solid #e74c3c;
  height: auto;
  float: left;
  cursor: pointer;
  -moz-transition: 0.3s border ease;
  -o-transition: 0.3s border ease;
  -webkit-transition: 0.3s border ease;
  transition: 0.3s border ease;
}

@media screen and (max-width: 735px) {
  #frame #sidepanel #profile .wrap img {
    width: 40px;
    margin-left: 4px;
  }
}

#frame #sidepanel #profile .wrap img.online {
  border: 2px solid #2ecc71;
}
#frame #sidepanel #profile .wrap img.away {
  border: 2px solid #f1c40f;
}
#frame #sidepanel #profile .wrap img.busy {
  border: 2px solid #e74c3c;
}
#frame #sidepanel #profile .wrap img.offline {
  border: 2px solid #95a5a6;
}
#frame #sidepanel #profile .wrap p {
    float:left;
    margin:0px 15px;
    line-height:55px;
  }

@media screen and (max-width: 735px) {
  #frame #sidepanel #profile .wrap p {
    display: none;
  }
}

#frame #sidepanel #profile .wrap i.expand-button {
  float: right;
  margin-top: 23px;
  font-size: 0.8em;
  cursor: pointer;
  color: #435f7a;
}

@media screen and (max-width: 735px) {
  #frame #sidepanel #profile .wrap i.expand-button {
    display: none;
  }
}

#frame #sidepanel #profile .wrap #status-options {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  width: 150px;
  margin: 70px 0 0 0;
  border-radius: 6px;
  z-index: 99;
  line-height: initial;
  background: #435f7a;
  -moz-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

@media screen and (max-width: 735px) {
  #frame #sidepanel #profile .wrap #status-options {
    width:58px;
    margin-top:57px;
  }
}

#frame #sidepanel #profile .wrap #status-options.active {
  opacity:1;
  visibility:visible;
  margin:75px 0 0 0;
}

@media screen and (max-width: 735px) {
  #frame #sidepanel #profile .wrap #status-options.active {
    margin-top: 62px;
  }
}

#frame #sidepanel #profile .wrap #status-options:before {
  content: '';
  position:absolute;
  width:0;
  height:0;
  border-left:6px solid transparent;
  border-right:6px solid transparent;
  border-bottom:8px solid #435f7a;
  margin:-8px 0 0 24px;
  }

@media screen and (max-width: 735px) {
  #frame #sidepanel #profile .wrap #status-options:before {
    margin-left:23px;
  }
}

#frame #sidepanel #profile .wrap #status-options ul {
  overflow:hidden;
  border-radius:6px;
  }
#frame #sidepanel #profile .wrap #status-options ul li {
  padding:15px 0 30px 18px;
  display:block;
  cursor:pointer;
  }

@media screen and (max-width: 735px) {
  #frame #sidepanel #profile .wrap #status-options ul li {
    padding: 15px 0 35px 22px;
  }
}
#frame #sidepanel #profile .wrap #status-options ul li:hover {
  background: #496886;
}
#frame #sidepanel #profile .wrap #status-options ul li span.status-circle {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 5px 0 0 0;
}
@media screen and (max-width: 735px) {
  #frame #sidepanel #profile .wrap #status-options ul li span.status-circle {
    width: 14px;
    height: 14px;
  }
}
#frame #sidepanel #profile .wrap #status-options ul li span.status-circle:before {
  content: '';
  position: absolute;
  width: 14px;
  height: 14px;
  margin: -3px 0 0 -3px;
  background: transparent;
  border-radius: 50%;
  z-index: 0;
}
@media screen and (max-width: 735px) {
  #frame #sidepanel #profile .wrap #status-options ul li span.status-circle:before {
    height: 18px;
    width: 18px;
  }
}
#frame #sidepanel #profile .wrap #status-options ul li p {
  padding-left: 12px;
}
@media screen and (max-width: 735px) {
  #frame #sidepanel #profile .wrap #status-options ul li p {
    display: none;
  }
}
#frame #sidepanel #profile .wrap #status-options ul li#status-online span.status-circle {
  background: #2ecc71;
}
#frame #sidepanel #profile .wrap #status-options ul li#status-online.active span.status-circle:before {
  border: 1px solid #2ecc71;
}
#frame #sidepanel #profile .wrap #status-options ul li#status-away span.status-circle {
  background: #f1c40f;
}
#frame #sidepanel #profile .wrap #status-options ul li#status-away.active span.status-circle:before {
  border: 1px solid #f1c40f;
}
#frame #sidepanel #profile .wrap #status-options ul li#status-busy span.status-circle {
  background: #e74c3c;
}
#frame #sidepanel #profile .wrap #status-options ul li#status-busy.active span.status-circle:before {
  border: 1px solid #e74c3c;
}
#frame #sidepanel #profile .wrap #status-options ul li#status-offline span.status-circle {
  background: #95a5a6;
}
#frame #sidepanel #profile .wrap #status-options ul li#status-offline.active span.status-circle:before {
  border: 1px solid #95a5a6;
}
#frame #sidepanel #profile .wrap #expanded {
  padding: 100px 0 0 0;
  display: block;
  line-height: initial !important;
}
#frame #sidepanel #profile .wrap #expanded label {
  float: left;
  clear: both;
  margin: 0 8px 5px 0;
  padding: 5px 0;
}
#frame #sidepanel #profile .wrap #expanded input {
  border: none;
  margin-bottom: 6px;
  background: #32465a;
  border-radius: 3px;
  color: #f5f5f5;
  padding: 7px;
  width: calc(100% - 43px);
}
#frame #sidepanel #profile .wrap #expanded input:focus {
  outline: none;
  background: #435f7a;
}
#frame #sidepanel #search {
    border-top: 1px solid #32465a;
    border-bottom: 1px solid #32465a;
    font-weight: 300;
    padding: 15px; 
  }


@media screen and (max-width: 735px) {
/*  #frame #sidepanel #search {
    display: none;
  }*/
}
#frame #sidepanel #search label {
  position: absolute;
  margin: 10px 0 0 20px;
}
#frame #sidepanel #search input {
  font-family: "proxima-nova",  "Source Sans Pro", sans-serif;
  padding: 10px 0 10px 46px;
  width:calc(100% - 45px);
  border:none;
  background:#32465a;
  color:#f5f5f5;
  height:auto;
  margin:0px;
}
#frame #sidepanel #search input:focus {
  outline: none;
  background: #435f7a;
}
#frame #sidepanel #search input::-webkit-input-placeholder {
  color: #f5f5f5;
}
#frame #sidepanel #search input::-moz-placeholder {
  color: #f5f5f5;
}
#frame #sidepanel #search input:-ms-input-placeholder {
  color: #f5f5f5;
}
#frame #sidepanel #search input:-moz-placeholder {
  color: #f5f5f5;
}
#frame #sidepanel #contacts {
  height: calc(100% - 60px);
  overflow-y: scroll;
  overflow-x: hidden;
}
@media screen and (max-width: 735px) {
  #frame #sidepanel #contacts {
    height: calc(100% - 0px);
    overflow-y: scroll;
    overflow-x: hidden;
	padding-bottom: 80px;
  }
  #frame #sidepanel #contacts::-webkit-scrollbar {
    display: none;
  }
}
#frame #sidepanel #contacts.expanded {
  height: calc(100% - 334px);
}
#frame #sidepanel #contacts::-webkit-scrollbar {
  width: 8px;
  background: #2c3e50;
}
#frame #sidepanel #contacts::-webkit-scrollbar-thumb {
  background-color: #243140;
}
#frame #sidepanel #contacts ul li.contact {
  position: relative;
  padding: 10px 0 15px 0;
  font-size: 0.9em;
  cursor: pointer;
}
@media screen and (max-width: 735px) {
  #frame #sidepanel #contacts ul li.contact {
    padding: 6px 0 46px 8px;
  }
}
#frame #sidepanel #contacts ul li.contact:hover {
  background: #32465a;
}
#frame #sidepanel #contacts ul li.contact.active {
  background: #32465a;
  border-right: 5px solid #435f7a;
}
#frame #sidepanel #contacts ul li.contact.active span.contact-status {
  border: 2px solid #32465a !important;
}
#frame #sidepanel #contacts ul li.contact .wrap {
  width: 88%;
  margin: 0 auto;
  position: relative;
}
@media screen and (max-width: 735px) {
  #frame #sidepanel #contacts ul li.contact .wrap {
    width: 100%;
  }
}
#frame #sidepanel #contacts ul li.contact .wrap span {
  position: absolute;
  left: 0;
  margin: -2px 0 0 -2px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 2px solid #2c3e50;
  background: #95a5a6;
}
#frame #sidepanel #contacts ul li.contact .wrap span.online {
  background: #2ecc71;
}
#frame #sidepanel #contacts ul li.contact .wrap span.away {
  background: #f1c40f;
}
#frame #sidepanel #contacts ul li.contact .wrap span.busy {
  background: #e74c3c;
}
#frame #sidepanel #contacts ul li.contact .wrap img {
  width: 40px;
  border-radius: 50%;
  float: left;
  margin-right: 10px;
  height: 40px;
  border: 1px solid #e6eaea4f;
}

.main_chatBox .container {
    width: 100%;
    padding: 0px !important;
    margin-top: 1px;
    max-width: 100%;
  }




@media screen and (max-width: 735px) {



  #frame #sidepanel #contacts ul li.contact .wrap img {
    margin-right: 0px;
  }
}
#frame #sidepanel #contacts ul li.contact .wrap .meta {
  padding: 5px 0 0 0;
}
@media screen and (max-width: 735px) {
  #frame #sidepanel #contacts ul li.contact .wrap .meta {
    width: calc(100% - 60px);
    float: right;
  }

}

#frame #sidepanel #contacts ul li.contact .wrap .meta .name {
  font-weight:600;
  margin:0px;
}
#frame #sidepanel #contacts ul li.contact .wrap .meta .preview {
  margin: 5px 0 0 0;
  padding: 0 0 1px;
  font-weight: 400;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -moz-transition: 1s all ease;
  -o-transition: 1s all ease;
  -webkit-transition: 1s all ease;
  transition: 1s all ease;
}
#frame #sidepanel #contacts ul li.contact .wrap .meta .preview span {
  position: initial;
  border-radius: initial;
  background: none;
  border: none;
  padding: 0 2px 0 0;
  margin: 0 0 0 1px;
  opacity: .5;
}
#frame #sidepanel #bottom-bar {
  position: absolute;
  width: 100%;
  bottom: 0;
}
#frame #sidepanel #bottom-bar button {
  float: left;
  border: none;
  width: 50%;
  padding: 10px 0;
  background: #32465a;
  color: #f5f5f5;
  cursor: pointer;
  font-size: 0.85em;
  font-family: "proxima-nova",  "Source Sans Pro", sans-serif;
}
@media screen and (max-width: 735px) {
  #frame #sidepanel #bottom-bar button {
    float: none;
    width: 100%;
    padding: 15px 0;
  }
}
#frame #sidepanel #bottom-bar button:focus {
  outline: none;
}
#frame #sidepanel #bottom-bar button:nth-child(1) {
  border-right: 1px solid #2c3e50;
}
@media screen and (max-width: 735px) {
  #frame #sidepanel #bottom-bar button:nth-child(1) {
    border-right: none;
    border-bottom: 1px solid #2c3e50;
  }
}
#frame #sidepanel #bottom-bar button:hover {
  background: #435f7a;
}
#frame #sidepanel #bottom-bar button i {
  margin-right: 3px;
  font-size: 1em;
}
@media screen and (max-width: 735px) {
  #frame #sidepanel #bottom-bar button i {
    font-size: 1.3em;
  }
}
@media screen and (max-width: 735px) {
  #frame #sidepanel #bottom-bar button span {
    display: none;
  }
}
#frame .content {
  float: right;
  width: 60%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
@media screen and (max-width: 735px) {
  #frame .content {
    width: calc(100% - 0px);
    min-width:250px !important;
  }
}
@media screen and (min-width: 900px) {
  #frame .content {
    width: calc(100% - 340px);
  }
 
}


#frame .content .contact-profile{
  width:100%;
  height:84px;
  line-height:80px;
  background:#ffffff;
  border-bottom: 1px solid #ccc;
  }
#frame .content .contact-profile img {
  width:64px;
  border-radius:50%;
  float:left;
  margin:9px 12px 0 9px;
      height: 64px;
  }
#frame .content .contact-profile p {
    float: left;
    padding: 0px;
    margin: 0px 0px;
    line-height: 20px;
    padding-top: 15px;
    font-size: 18px;
    font-weight: 500;
  }
#frame .content .contact-profile .social-media {
  float: right;
  }
#frame .content .contact-profile .social-media i {
  margin-left: 14px;
  cursor: pointer;
  }
#frame .content .contact-profile .social-media i:nth-last-child(1) {
  margin-right: 20px;
  }
#frame .content .contact-profile .social-media i:hover {
  color: #435f7a;
  }
#frame .content .messages {
  height: auto;
  min-height: calc(100% - 93px);
  max-height: calc(100% - 93px);
  overflow-y: scroll;
  overflow-x: hidden;
  width:100%;
  padding-bottom: 60px;
  }

@media screen and (max-width: 735px) {
  #frame .content .messages {
    max-height: calc(100% - 105px);
  }
}

#frame .content .messages::-webkit-scrollbar {
  width:8px;
  background:transparent;
  }
#frame .content .messages::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
  }
#frame .content .messages ul li {
  display: inline-block;
  clear: both;
  float: left;
  margin:10px 15px 10px 15px;
  width: calc(100% - 25px);
  font-size: 0.9em;
  z-index: 9;
  position: relative;
}
#frame .content .messages ul li:nth-last-child(1) {
  margin-bottom:20px;
  }
#frame .content .messages ul li.sent img {
  margin:0px 8px 0 0;
  }
#frame .content .messages ul li.sent p {
  color: #333;
  margin:0px; 
  word-break: break-all;
  }
#frame .content .messages ul li.replies img {
  float: right;
  margin: 6px 0 0 8px;
  }
#frame .content .messages ul li.replies p {
  background: #f5f5f5;
  float: right;
  margin:0px; 
  }
#frame .content .messages ul li img{
  width:56px;
  border-radius:50%;
  float:left;
  border:1px solid #ccc;
  height: 56px;
  }
#frame .content .messages ul li p {
  display:inline-block;
  padding:5px 15px;
  border-radius:20px;
  max-width:205px;
  line-height:130%;
}
@media screen and (min-width: 735px) {
  #frame .content .messages ul li p {
    max-width: 360px;
  }
}
#frame .content .message-input {
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 99;
    background: #f1f1f1;
    border-top: 1px solid #ccc; 
}

#frame .content .message-input .wrap {
  position: relative;
}
#frame .content .message-input .wrap input {
    font-family: "proxima-nova", "Source Sans Pro", sans-serif;
    float: left;
    border: none;
    font-size: 0.8em;
    color: #32465a;
    background: #fff;
    height: auto;
    width: calc(100% - 125px);
    padding: 11px 10px 13px 15px;
    border-radius: 100px;
    margin-left: 50px;
    margin-bottom: 6px;
  } 
#frame .content .message-input .wrap input:focus {
  outline: none;
}
#frame .content .message-input .wrap .attachment {
  position: absolute;
  right: 60px;
  z-index: 4;
  margin-top: 10px;
  font-size: 1.1em;
  color: #435f7a;
  opacity: .5;
  cursor: pointer;
}
@media screen and (max-width: 735px) {

  #frame .content .message-input .wrap input {  
    width: calc(100% - 25px);
    padding: 9px 10px 8px 20px;   
    height: 25px;
    border-top: 0px solid #ccc;
    font-size: 16px;
    color: #999 !important;
    opacity: 1 !important;
	    margin-left: 0;
  }

  #frame .content .message-input .wrap .attachment {
    margin-top: 17px;
    right: 65px;
  }
}

#frame .content .message-input .wrap .attachment:hover {
  opacity: 1;
}
#frame .content .message-input .wrap button {
	float: right;
    border: none;
    width: 30px;
    padding: 8px 0px;
    cursor: pointer;
    background: #3bb3bd;
    color: #f5f5f5;
    height: 30px;
    margin-right: 10px;
    margin-top: 3px;
    border-radius: 100px;
}
#frame .content .message-input .wrap button:hover {
  background:#435f7a;
}
#frame .content .message-input .wrap button:focus {
  outline:none;
}
a.btn_meet {
    display:block;
    background:#3bb3bd;
    color:#fff;
    padding:3px 15px;
    border-radius:20px;
    font-size:12px;
    margin-top:2px;
  }
span.ic_attch {
    position:absolute;
    top:7px;
    left:15px;
    font-size:20px;
    color:gray;
  }
span.abs_sel {
    position:absolute;
    opacity:0;
    width:10px;
    left:0px;
  }
.abs_sel input[type="file"] {
    width:25px !important;
    padding:0px !important;
  }
div#profile {
    display:none;
  }
.nm_dt{
    width:100%;
    text-align:center;
    padding-top:0px;
    padding-bottom:0px;
    color:gray;
    display:inline-block;
  }
span.nm_tut {
    display:inline-block;
    font-weight:600;
    font-size:15px;
    margin-right:10px;
  }
span.msg_tut {
    display: block;
    color: #333;
    margin-top: 4px;
    word-break: break-all;
  }
span.tm_tut {
    color: #808080;
  }


@media screen and (max-width: 600px) {

  #frame .content .messages ul li img {
    width:40px;
    height:40px; 
  }
}

#frame .content .message-input .wrap textarea {
    height: 0px !important;
    padding: 0px !important;
    border: 0px !important;
  }
#frame .content .message-input .wrap {
    line-height:0;
  }
.meta .badge.red.round {
    width:35px !important;
    height:35PX !important;
    DISPLAY:inline-block !important;
    margin:0px auto !important;
    float:right !important;
    right:-260px;
    position:absolute !important;
    line-height:32px;
    min-width:15px;
    background:#f73333 !important;
    color:#fff;
  }
#frame #sidepanel #contacts ul li.contact .wrap .meta {
    position:relative;
  }
.contact-profile .BtnCls {
    display:none;    
    float:right;
    margin-top:15px;
    padding:0px 15px;
    margin-right:10px;
  }

@media screen and (max-width: 735px) {

  #frame #sidepanel #contacts ul li.contact .wrap .meta .preview {
    margin: 0px !important;
  }
  #frame #sidepanel #contacts ul li.contact .wrap .meta {
    padding: 2px 0px 0px 0px !important;
  }
  #frame #sidepanel #contacts ul li.contact.active {
    background:#ccc !important;
    color:#333 !important;
  }
  #frame .content .messages {  
    min-height:calc(100% - 67px) !important;
    max-height:calc(100% - 67px) !important;  
  }
  #frame .content .message-input .wrap button {
    padding:8px 0px !important;
  }
  #frame .content {
/*    height:100vh !important;*/
	 height:91vh !important
  }
  .content.msg_box.active {
    display:block !important;
  }
  .content.msg_box {
    position:absolute !important;
    background:#fff;
    display:none !important;
    left:0px;
  }
  .contact-profile .BtnCls {
    display:block;
    float:right;
    margin-top:15px;
    padding:0px 15px;
    margin-right:10px;
  }
  #frame #sidepanel #contacts ul li.contact.active {
    border-right:0px solid #435f7a;
  }
  .badge.red.round {
    right:5px !important;
    left:inherit !important;
  }
  #frame #sidepanel #contacts ul li.contact .wrap .meta {  
    width:calc(100% - 60px);
    float:right;
    padding-right:40px !important;
  }


/* 12 */

span.ic_attch i.fa.fa-plus:before {
    top: 5px;
    position: relative;
    left: 6px;
}

span.ic_attch i.fa.fa-plus {
    color: #878787;
    font-size: 13px;
    background: #d9d9d9;
    width: 22px;
    height: 22px;
    border-radius: 100px;
    position: relative;
    top: 4px;
}



}


#frame .content .message-input .wrap input::-webkit-input-placeholder { /* Edge */
	color: #999;
}

#frame .content .message-input .wrap input:-ms-input-placeholder { /* Internet Explorer 10-11 */
	color: #999;
}

#frame .content .message-input .wrap input::placeholder {
	color: #999;
}




span.ic_attch i.fa.fa-plus:before {
    top: 5px;
    position: relative;
    left: 6px;
}

span.ic_attch i.fa.fa-plus {
    color: #878787;
    font-size: 13px;
    background: #d9d9d9;
    width: 22px;
    height: 22px;
    border-radius: 100px;
    position: relative;
    top: 4px;
}




@media(min-width:320px) and (max-width:767px){


  #frame .content .contact-profile {
    margin-top: 0px;
    position: fixed;
    top: 0;
    background: #fff;
    z-index: 999;
  }
  
  .messages {
    margin-top: 10px;
  }
  
  #frame .content .message-input .wrap button{
      margin-top: 3px;
  }
	
}



@media(min-width:768px) and (max-width:991px)
{
span.ic_attch i.fa.fa-plus
{
    top: 0px;
}

}








/* 18 nov */

@media screen and (max-width: 540px) {
.main_tutor.main_chatBox
{
    padding: 10px 0px 10px;
}
}
@media screen and (max-width: 767px) {

	.chat_msg_full_screen {
		display: none;
	}
	#frame .content .messages
	{
		padding-bottom: 0px;
	}

}

#frame #sidepanel #contacts ul {
    margin-bottom: 12px;
} 




/* 21 nov */

.chat_txt_l {
    float: left;
    width: 10%;
    margin: 0;
    padding: 0;
}
.chat_txt_r {
    float: right;
    width: auto;
    margin: 0;
    padding: 0;
    margin-top: 1.5%;
}

.chat_txt_c {
    float: left;
    width: 68%;
    margin: 0;
    padding: 0;
    margin-left: 45px;
}


@media (max-width: 991px) {
   #frame .content .message-input .wrap input
  {
	margin-left: 0px !important ; 
  }
}


@media (max-width: 2560px) {
  #frame .content .message-input .wrap input
  {
	margin-left: 0px !important ; 
	width:100%;
  }
}



@media (max-width: 400px) {
  #frame .content .message-input .wrap input
  {
	width:80%;
  }
}




@media(min-width:768px) and (max-width:2560px){
	.chat_txt_r {
		margin-top: 5px;
	}
}

@media(min-width:1010px) and (max-width:1319px){
	.chat_txt_c {
		width: 81%;
	}
}

@media(min-width:1320px) and (max-width:1920px){
	.chat_txt_c {
		width: 87%;
	}
	
}

