.has-error{

        color: red;

    }

/*.skin-blue .main-header .logo {

    color: #73818f;

    border-bottom: 0 solid transparent;

    background: #fff;

}



.skin-blue .main-header .navbar {

    color: #73818f;

    border-bottom: 0 solid transparent;

    background: #fff;

}*/

.skin-blue .main-header .navbar {
    background-color: #c52a39 !important;
}
.skin-blue .main-header .logo {
    background-color: #a9111f;
    color: #fff;
    border-bottom: 0 solid transparent;
}
.skin-blue .wrapper, .skin-blue .main-sidebar, .skin-blue .left-side {
    background-color: #c52a39 !important;
}
.skin-blue .sidebar a {
    color: #ffffff !important;
}
.sidebar-menu>li {
    position: relative;
    margin: 0;
    padding: 0px;
    border-bottom: 1px solid #a9111f;
}
.bg-aqua, .callout.callout-info, .alert-info, .label-info, .modal-info .modal-body {
    background-color: #a9111f !important;
}
.skin-blue .sidebar-menu>li:hover>a, .skin-blue .sidebar-menu>li.active>a, .skin-blue .sidebar-menu>li.menu-open>a {
    color: #fff;
    background: #9d0e1b;
}
.skin-blue .sidebar-menu>li>.treeview-menu {
    margin: 0 1px;
    background: #a9111f;
}
.main-header .logo .logo-lg {
    display: block;
    font-weight: bold;
    font-size: 23px;
}
.btn-primary {
    background-color: #c52a39 !important;
    border-color: #c52a39 !important;
}
.table-bordered a {

    color: #c52a39;

}
.skin-blue .main-header .logo:hover {
    background-color: #a9111f !important;
}
.main-footer strong a {

color: #c52a39 !important;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #c52a39 !important;
    border-color: #c52a39 !important;
}
.skin-blue .main-header li.user-header {
    background-color: #a9111f;
}
.btn-default {
    background-color: #FFF;
    color: #fff !important;
    border-color: #ddd;
}
.btn-default:hover, .btn-default:active, .btn-default.hover {
    background-color: #8e0915;
}

.user-footer .btn-default {
    background-color: #a9111f;
    color: #fff !important;
    border-color: #ddd;
}