body{

    font-family: 'Roboto', sans-serif !important; 

}



.card_main {

    position:relative;

    background-color:#fff;

    box-shadow:0px 10px 20px 0px rgba(229, 229, 229, 0.75);    

    display:inline-block;

    width:100%;    

    border-radius:4px;

    padding:25px;    

    margin:0px 0px 5px;

	}

.bg-light-magenta {

    width:85px;

    height:85px;

    background:#ffeaea;

    border-radius:60px;

    float:left;

    text-align:center;

    line-height:90px;

    color:#111111;

	}

.bg-light-magenta i.fa.fa-bell {

    color:#ff0000;

	}

.mn_left {

    display:inline-block;

    float:left;

    margin-right:10px;

	}

.mn_right {

    text-align:right;

    display:inline-block;

    width:calc(100% - 95px);

	}

.mn_right h3 {

    font-size: 22px;

    margin: 0px;

    color: #a8a8a8;

	}

.mn_right h5 {

    font-size: 18px;

	}

.container.main_stud {

    background: #f0f1f3 !important;

    width: 100%;

    max-width: 100%;

    padding:10px 30px 15px;

    min-height: 100vh;

	}

.main_studOne ul.tabs li a {

    color: #111111;

    font-size: 16px;

    font-weight: 500;

    padding: 5px;

	}

.main_studOne ul.tabs li a.active {

    color: #ee6e73;

	}

.main_studOne ul.tabs li.tab {

    height: auto !important;

	}

.main_studOne ul.tabs {

    height: auto !important;

	}

.bg-light-magenta .fa {

    text-align: center;

    font-size: 28px;

	}

.bg-light-magenta i.fa.fa-bell {

    color: #ff0000;

	}

.bg-light-magenta.magenta_to {

    background: #fff2d8;

	}

.bg-light-magenta.magenta_to i.fa.fa-calendar {

    color: #ffa001;

	}

.bg-light-magenta.magenta_tr {

    background: #d1f3e0;

	}

.bg-light-magenta.magenta_tr .fa {

    color: #3cb878;

	}

.bg-light-magenta.magenta_fr {

    background: #e1f1ff;

	}

.bg-light-magenta.magenta_fr .fa {

    color: #3f7afc;

	}

.bg-light-magenta.magenta_fv {

    background: #f3e5f5;

	}

.bg-light-magenta.magenta_fv .fa {

    color: #8e24aa;

	}

.bg-light-magenta.magenta_sv .fa {

    color: #00b6bf;

	}

.bg-light-magenta.magenta_sv {

    background: #00b6bf5c;

	}

.bg-light-magenta.magentas_et .fa {

    color: #a649f2;

	}

.bg-light-magenta.magentas_et {

    background: #a649f259;

	}

.bg-light-magenta.magenta_se .fa {

    color: #ff1d78;

	}

.bg-light-magenta.magenta_se {

    background: #ff1d7859;

	}

.main_stud .card.material-table {

    margin-top: 0px;

	}

.main_stud .card.material-table .table-header {

    border-bottom:1px solid #ccc;

	}

.main_stud .card.material-table table#lessiontable thead tr th {

    font-size:18px;

    color:#111111;

	}

.main_stud .card.material-table table#lessiontable tbody tr td {

    font-size:14px;	

	}

.main_stud .card.material-table  .table-footer {

    font-size:13px !important;

	}

.main_stud .card.material-table .table-footer label {

    font-size:14px !important;

	}

.main_stud .card.material-table .table-footer div#lessiontable_info {

    font-size:14px !important;

	}

nav .brand-logo{

    margin-left:10px;

    padding-top: 4px !important;

	}

ul#nav-mobile ul li {

    position: relative;

	}

#totalnotification{

	color:white; 

	border-radius:100%; 

	line-height:20px; 

	text-align:center; 

	font-size:11px; 	

	top:10px; 

	right:20px; 

	z-index:9;

    height:22px !important;

    width:22px !important;

    max-width:100%;

    background:#00000047 !important;

    line-height:22px;

    padding:0px !important;

    min-width:inherit;

    position:absolute;

	}

.vtn_msg{

    cursor: pointer;

    background:#3bb3bd;

    border-radius: 4px;

    color: #fff;

    border: 1px solid #3bb3bd;

    display: inline-block;

    margin-top: 15px;

    text-align: center;

    font-size: 16px;

    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);

    width: auto !important;

    padding: 6px 30px !important;

    float: right;

    }

.tnvid img {

    width: 100%;

    }

.tnvid {

    border-radius: 100%;

    overflow: hidden;

    }   

.mid_way {

    border-radius: 10px;

    box-shadow: 0px 10px 20px 0px rgba(229, 229, 229, 0.9);

    height: auto;

    background-color: white;

    margin-top: 10px;

    max-width: 1200px;

    margin:0px auto 25px;

    padding:25px;

    }

.mid_way .row {

    margin-bottom: 0px;

    }

.vd_mid a {

    font-size: 22px;

    text-transform: capitalize;

    color: #111;

    }

table.tbl_grd {

    max-width: 105px;

    }

.tbl_acti tbody tr td:first-child {

    width: 40px;

    }

.mn_fav .fa {

    font-size: 24px;

    color: #ee6e73;

    }

.tbl_acti tbody tr td {

    padding: 0px;

    }

table.tbl_acti {

    margin-bottom:15px;

    }

.vd_mid {

    margin-top:10px;

    }

div#cirruculum .dataTable thead tr th {

    font-size: 18px;

    color: #111111;

/*    padding: 15px;*/

    }

/*div#cirruculum .dataTable tbody tr td {

    padding: 15px;

    }*/

div#cirruculum .table-footer {

    font-size: 14px !important;

    }

.right ul#dropdown {

    min-width:280px;

    top: 64px !important;

    right: 0px !important;

    left: inherit !important;

    }

.right ul#dropdown li a p {

    margin: 0px;

    color: #333;

    font-size: 15px;

    }

.right ul#dropdown li a p span {

    font-size: 14px;

    color: #8a8a8a !important;

    }

.right ul#dropdown li + li {

    border-top: 1px solid #ccc;

    }

.right ul#dropdown li a {

    padding:15px 25px;

    }

.right ul#dropdown li a p span strong {

    display: inline-block;

    color: #ee6e73;

    }

ul#nav-mobile ul li.vsn_vx > a {

    width: 40px;

    height: 40px;

    padding: 0px;

    border-radius: 100%;

    margin-top: 10px;

    overflow: hidden;

    border: 1px solid #f1f1f1;

    outline: none;

    }

ul#nav-mobile ul li.vsn_vx a img {

    width: 100%;

    height: 100%;

    }

ul#nav-mobile ul li.vsn_vx {

    margin-right: 15px;

    }

ul#nav-mobile ul li.vsn_vx:hover {

    background: none !important;

    }

.dropdown-content.drop_cont {

    min-width: 180px !important;

    top: 65px !important;

    }

.dropdown-content.drop_cont li a {

    color: #111;

    font-size: 15px;

    }

.right ul#dropdownone li a p {

    margin: 0px;

    color: #333;

    font-size: 15px;

    }

.right ul#dropdownone li a p span {

    font-size: 14px;

    color: #8a8a8a !important;

    }

.right ul#dropdownone li + li {

    border-top: 1px solid #ccc;

    }

.right ul#dropdownone li a {

    padding:15px 25px;

    }

.mig_wit {

    text-align: center;

    border: 1px solid #ccc;

    border-radius: 60%;

    max-width: 190px;

    height: 190px;

    overflow: hidden;

    margin: 10px auto;

    vertical-align: middle;

    display: flex;

    align-items: center;

    width:100%;

    }

.vx_nam b {

    font-size: 20px;

    color: #111;

    margin-left: 5px;

    font-weight: 400;

    }

.vx_eml {

    margin-top: 60px;

    }

.vx_rtr span {

    font-size: 18px;

    margin-right: 10px;

    }

.vx_rtr {

    margin-bottom: 10px;

    }

.vx_rtr a {

    font-size: 16px;

    color: #ee6e73;

    }

table.vx_rigt tr td {

    padding-top: 0px;

    padding-bottom: 0px;

    }

table.vx_rigt {

    margin-top: 55px;

    }

.mig_wit img {

    margin: 0px auto;

    }

.vx_man center a {

    color: #3bb3bd;

    }

div#myprofile .card-content .row {

    margin-bottom: 0px;

    }

ul#picdropdown {

    position: static !important;

    width: 300px !important;

    box-shadow: none;

    border: 1px solid #ccc;

    text-align: center;

    margin: 10px 0px 0px;

    }

div#myprofile .card.myprofilecard {

    max-width: 1600px;

    margin: 0px auto;

    }

#app nav {

    background-color: #ffffff;    

    margin-bottom: 1px;

    }

#app nav ul a {    

    color: #808080;

    }

ul#nav-mobile ul li.active {

    background: none !important;

    }

ul#nav-mobile ul li.active a {

    color: #ee6e73;

    }

.main_div_str{

    width: 100%;

    float: left;

    margin: 0px;

    padding: 0px;

    margin-top: 5%;

    }

.main_div_str_bott_s{

    width: 1088px;

    float: left;

    margin: 0px;

    padding: 0px;

    height: 90px;

    }

.main_div_str_main{

    width: 100%;

    float: left;

    margin: 0px;

    padding: 0px;

    }

.main_div_str_one{

    width: 18.5%;

    float: left;

    padding: 0px;

    position: relative;

    margin: 0.5% 0.7%;

    }

.main_div_str_one .quick-view {

    display: none;

    position: absolute;

    top: 45%;

    left: 25%;

    }

.main_div_str_one:hover .quick-view {

    display: block;

    }

a.quick-view {

    background: #ffffff;

    color: #000;

    -moz-box-shadow: rgba(0, 0, 0, 0.16) 0 2px 8px;

    -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0 2px 8px;

    box-shadow: rgba(0, 0, 0, 0.16) 0 2px 8px;

    padding: 8px 16px;

    float: left;

    cursor: pointer;

    }

.img_di_n {

    position: relative;

    width: 100%;

    height: 100%;

    margin: 0px;

    }

.main_div_str_one_ine{

    width: 18.7%;

    float: left;

    padding: 0px;

    position: relative;

    margin: 0.5% 0.5% 2%;

    }

.img_di_n_in{

    position: relative;

    width: 100%;

    height: 100%;

    margin: 0px;

    float: left;    

    }

.main_div_str_one_ine img {

    width: 100%;

    }

.main_div_str_one_ine .quick-view {

    display: none;

    position: absolute;

    top: 44%;

    left: 21%;

    }

.main_div_str_one_ine:hover .quick-view {

    display: block;

    }

.img_di_n img {

    width: 100%;

    }

.main_div_str_one_ine .quick-view {

    display: none;

    position: absolute;

    top: 28%;

    left: 32%;

    }

.container.inner_det_s {

    width: 85%;

    }

.img_di_n_in h3 {

    font-size: 20px;

    }

.col_o {

    background: #ffffff;

    border-radius: 5px;

    padding: 10px 0;

    -webkit-box-shadow: 0px 1px 7px -1px rgba(0, 0, 0, 0.13);

    -moz-box-shadow: 0px 1px 7px -1px rgba(0, 0, 0, 0.13);

    box-shadow: 0px 1px 7px -1px rgba(0, 0, 0, 0.13);

    }

.col_o h3 {

    color: #000000;

    font-size: 18px;

    letter-spacing: 0px;

    float: left;

    margin-top: 15px;

    padding-left: 0px;

    font-weight: 300;

    text-transform: capitalize;

    margin-bottom: 10px;

    width: calc(100% - 70px);

    float: right;

    white-space: nowrap;

    text-overflow: ellipsis;

    overflow: hidden;    

    }

.main_div_str_one_ine .mn_left {

    margin-left: 10px;

    }

.col_o .bg-light-magenta {

    width:50px;

    height:50px;

    }

ul.new_tab_section {

    display: -webkit-box;

    display: -moz-box;

    display: -ms-flexbox;

    display: -webkit-flex;

    display: flex;

    position: relative;

    height: 58px;

    background-color: #fff;

    margin: 0 auto;

    width: 100%;

    white-space: nowrap;

    }

ul.new_tab_section li.tab1 {

    color: #111111;

    font-size: 16px;

    font-weight: 500;

    padding: 0px 0px;

    }

li.tab1 {

    -webkit-box-flex: 1;

    -webkit-flex-grow: 1;

    -ms-flex-positive: 1;

    flex-grow: 1;

    display: block;

    float: left;

    text-align: center;

    line-height: 54px;

    height: 58px;

    padding: 0;

    margin: 0;

    text-transform: uppercase;

    text-overflow: ellipsis;

    overflow: hidden;

    letter-spacing: .8px;

    width: 15%;

    min-width: 80px;

    }

ul.new_tab_section li.tab1 a {

    color: #000;

    }

ul.new_tab_section li.tab1 a {

    color: #000;

    display: block;

    width: 100%;

    height: 100%;

    text-overflow: ellipsis;

    overflow: hidden;

    -webkit-transition: color .28s ease;

    -moz-transition: color .28s ease;

    -o-transition: color .28s ease;

    -ms-transition: color .28s ease;

    transition: color .28s ease;

    }

ul.new_tab_section li.tab1 a:hover {

    color: #f9c9cb;

    }

ul.new_tab_section li.tab1 a.active {

    color: #ee6e73;

    border-bottom: 2px solid #ee6e9e;

    }

.fancybox-wrap.fancybox-desktop.fancybox-type-html.fancybox-opened {

    width: 90% !important;

    height: 90% !important;

    }

.fancybox-opened .fancybox-inner {

    width: 100% !important;

    height: 100% !important;

    min-height: 450px !important;

    }

.fancybox-opened iframe#iframeobj {

    width: 100%;

    height: 100%;

    max-height: 900px;

    min-height: 800px;

    }

.com_pop a.checkurlcls.active_cls {

    color:rgb(79, 185, 225) !important;

    }

.com_pop a.checkurlcls {

    color: #333 !important;

    font-size: 22px;

    text-decoration: none !important;

    padding: 0px 15px 0px 0px;

    text-transform: capitalize;

    }

a.btn.btn-primary.pull-right.unique {

    background: #3bb3bd;

    margin: 10px;

    border-color: #3bb3bd;

    }

.unitesBack a {

    border: 1px solid #ccc;

    display: inline-block;

    margin-bottom: 5px;

    padding: 5px 10px !important;

    color: #333;

    font-size: 18px !important;

    }

.lecturescls {

    border: 1px solid #cccccc52;

    padding: 0px;

    min-width: 150px;

    height: 85px;

    vertical-align: middle;

    text-align: center;

    color: #fff;

    font-size: 16px !important;

    border-radius: 2px;

    background:#3bb3bd;

    display: table-cell;

    align-items: center;

    box-shadow: 0px 10px 20px 0px rgba(229, 229, 229, 0.75);

    width: 100% !important;

    }

.fancybox-wrap.fancybox-desktop.fancybox-type-iframe.fancybox-opened {

    width:550px !important;

    height: 400px !important;

    margin: 0 auto !important;

    display: table !important; 

    }

p.fancybox-error {

    text-align: center;

    font-size: 26px;

    line-height: 46px;

    }

.lecturescls a {

    color: #fff;

    text-transform: capitalize;

    }

.main_div_str_one .quick-view .lecturescls {

    border:none;

    padding: 0px;

    min-width:inherit;

    height:auto;

    vertical-align: middle;

    text-align: center;

    color:#333;

    font-size: 15px !important;

    border-radius: 0px;

    background: none;

    display: table-cell;

    align-items: center;

    box-shadow:none;

    width:auto !important;

    }

.main_div_str_main.backbtncls .main_div_str_one_ine.col_o {

   width: 17%;

   margin: 5px;

    }

.main_div_str_main.backbtncls a.btn.btn-primary.pull-left {

   margin: 0 !important;

   margin-top: 30px !important;

   position: relative;

   left: -10px;

    }

.main_div_str_main.backbtncls .main_div_str_one_ine.col_o .mn_left {

    width:50px;

    }

.main_div_str_main.backbtncls .main_div_str_one_ine.col_o .mn_left img {

    width: 100%;

    }

iframe#fancybox-frame1592975700758 {

    height: 95vh !important;

    width: 100%  !important;

    }

.df-outline-container{

    display: none;

    }

.ti-menu-alt{

    display: none !important;

    }

.ti-layout-grid2{

    display: none !important;

    }

.ti-sharethis{

    display: none !important;

    }

.ti-more-alt{

    display: none !important;

    }



@media (min-width: 1367px){

    html body div#GameContainer {

        max-height: 90% !important;

    }

}



button.plyBtn {

    background:#3bb3bd;

    border: 0px;

    color: #fff;

    padding: 8px 20px;

    border-radius: 3px;

    }

button.plyBtn {

    background: #3bb3bd;

}

.BtnCls {

    background: #3bb3bd;

    border: 0px;

    color: #fff;

    padding: 8px 20px;

    border-radius: 3px;

    }

div#GameContainer a.checkurlcls.active_cls {

    color: #039be5 !important;

    }

div#GameContainer a.checkurlcls {

    float: left !important;

    color: #000 !important;

    font-weight: 600;

    }

div#GameContainer tbody td {

    width: auto !important;

    display: initial;

    padding: 15px 10px;

    float: left;

    }

div#GameContainer tbody td:nth-child(2) {

    display: none;

    }

canvas#c2canvas {

    max-height: 510px !important;

    }

div#c2canvasdiv {

    background: #fff !important;

    }

div#GameContainer body {

    background: #fff;

    padding: 4px;

    }

body {

    background: #fff;

    }

div#GameContainer {

    max-height: 510px !important;

    }

table.tbl_grd {

    max-width: 350px !important;

    }

table.tbl_grd tbody tr td:first-child {

    width: 62px !important;

    }

.btn_lang a.dropdown-button img {

    padding-top: 0px !important;

    }

.btn_lang a.dropdown-button {

    line-height: 65px;

    }

li.btn_lang {

    position: relative;

    }

.drop_lang {

    top: 65px !important;

    min-width: auto !important;

    }

.right ul#dropdown li a img {

    float: left;

    margin-right: 5px;

    max-width: 40px !important;

    width: 100% !important;

    }

.main_div_str_bott_s img {

    width: 100%;

    }

.main_div_str_bott_s {

    width: 100%;

    }

.main_studOne ul.tabs li a {    

    font-size: 15px !important;

    font-weight: 600 !important;    

    font-family: "Roboto", sans-serif;

    }

.btn_lang a.dropdown-button img {

    padding-top: 0px !important;

    }

.btn_lang a.dropdown-button {

    line-height: 55px;

    margin-top: 10px;

    }

#totalnotification {

    font-size: 9px !important;

    top: 10px !important;

    right:8px !important;

    height:22px !important;

    width: 22px !important;

    background: #ff0000 !important;

    line-height: 20px !important;

    color: #fff !important;

    font-weight: 600 !important;

    border: 1px solid #fff !important;

    }

nav.tut_nav ul a i.material-icons.left {

    font-size: 34px;

    }

.msg_icon i.fa.fa-envelope {

    font-size: 24px;

    }

.msg_icon span#totalnotification {

    right: 7px !important;

    }

div#flipbookContainer {

    margin-top: 8px;

    }

.right ul#dropdown li a img {

    float:left;

    margin-right:5px;

    }

.right ul#dropdown li p {

    font-size:14px !important;

    line-height:18px;

    }

.right ul#dropdown li a {

    padding:10px !important;

    }

.right ul#dropdown li a p {    

    width:100%;

    display: flex;

    align-items: center;

    }

.pendding_attending_cls a.waves-effect.waves-light.btn {

    display: block;

    padding: 0px 4px;

    margin-top: 10px;

    color: #fff;

    font-size: 12px;

    width: 100% !important;

    max-width: 100% !important;    

    }

.pendding_attending_cls a + a.waves-effect.waves-light.btn {

    background:#3bb3bd;

    }

tbody#student_pendding_lesson .row {

    margin-bottom:10px;

    }

.msg_icon span.badge.red.round{

    font-size: 9px !important;

    top: 12px !important;

    right: 0px !important;

    height: 22px !important;

    width: 22px !important;

    background: #ff0000 !important;

    line-height: 22px !important; 

    color: #fff !important;

    font-weight: 600 !important;

    border: 1px solid #fff !important;

    border-radius: 100%;    

    text-align: center;

    z-index: 9;

    max-width: 100%;

    padding: 0px !important;

    min-width: inherit;

    position: absolute;

    }

.tnvid img {

    height: 100%;

    }

.tnvid {

    border-radius: 100%;

    overflow: hidden;

    width: 160px;

    height: 160px;

    background: #f1f1f1;

    }

.clPass {

    margin-bottom: 20px;

    }

#myprofile .card-content table.vx_rigttwo {

    display: none;

    }

.clPass ~ button.wwaves-effect.waves-light.btn {

    background: #3bb3bd;

    }

div#acceptModal123 h4 {

    font-size: 20px;

    }

#acceptModal123 form#form1123 label {

    text-align: center;

    width: 100%;

    display: inline-block;

    font-size: 20px;

    border: 1px solid #ccc;

    padding: 25px;

    margin-bottom: 20px;

    }

button#btn1123 {

    color: #fff;

    background-color: #26a69a;

    padding: 5px 25px;

    border: 0px;

    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);

    border-radius: 1px;

    }

#acceptModal123 .modal-footer {

    display: inline-block;

    width: auto;

    float: right;

    padding: 0px;

    margin-top: -40px;

    }

#acceptModal123 .modal-footer a {

    color: #fff;

    background-color: #26a69a;

    padding: 0px 25px;

    border: 0px;

    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);

    border-radius: 1px;

    margin-bottom: 0px;

    }

.card-content p label {

    font-size: 22px;

    text-transform: capitalize;

    margin-bottom: 15px !important;

    display: inline-block;

    color: #333;

    }

.acceptModalCls form label {

    text-align: center;

    width: 100%;

    display: inline-block;

    font-size: 20px;

    border: 1px solid #ccc;

    padding: 25px;

    margin-bottom: 20px;

    }

.acceptModalCls h4 {

    font-size: 20px;

    }

.acceptModalCls button {

    color: #fff;

    background-color: #3bb3bd;

    padding: 7px 35px;

    border: 0px;

    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);

    border-radius: 1px;

    }

.acceptModalCls .modal-footer {

    display: inline-block;

    width: auto;

    float: right;

    padding: 0px;

    margin-top: -40px;

    }

.acceptModalCls .modal-footer a.modal-action.modal-close.waves-effect.waves-green.btn-flat {

    color: #fff;

    background-color: #3bb3bd;

    padding: 0px 25px;

    border: 0px;

    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);

    border-radius: 1px;

    margin-bottom: 0px;

    margin-top: 5px;

    }

ul#picdropdown input#imageUpload {

    width:100%;

    }

html body ul#picdropdown{

    max-width:100% !important;

    width:100% !important;

    }

html body ul#picdropdown li {

    min-height: inherit !IMPORTANT; 

    }

a.btn.btn-primary.pull-right.unique {

    background: #3bb3bd;

    margin: 10px;

    border-color: #3bb3bd;

    }

#changepassfrm button.waves-effect.waves-green.btn {

    background: #3bb3bd !important;

    }

.bc_class{

    background: #3bb3bd !important;

    color:#fff !important; 

    margin-top: 15px;

    margin-left: 15px;

    font-weight: 600;

    }

.col.s12.pendding_attending_cls a {

    background: #3bb3bd !important;

    }

.col.s12.pendding_attending_cls a + a {

    background: #ee6e73 !important;

    }

.notificationslist_cls .row {

    margin: 0px;

    }

.notificationslist_cls .row .col.s10 {

    width: 100%;

    }

.main_iText .main_imgtext {

    display: inline-block;

    float: left;

    padding: 5px 5px 0px;

    box-shadow: 1px 1px 5px #ccc;

    width: 80px;

    height: 80px;

    margin-right: 15px;

    }

.main_iText .main_imgtext img {

    height: 70px !important;

    width: 70px !important;

    }

.main_iText {

    display: flex;

    align-items: center;

    }

span.title {

    text-align: center;

    font-size: 14px;

    color: #000;

    display:inline-block;

    width: 100%; 

    }

div#cirruculum {

    width: 98%;

    max-width: 100%;

    }

.curriculum_inner_page {

    background-color: #4fb9e1;

    padding: 10px;

    text-align: center;

    }

.curriculum_inner_page span {

    position: relative !important;

    left: inherit !important;

    }

#how_it_work b {

    margin-bottom: 10px;

    display: inline-block;

    }

.main_studOne .hide-tab-scrollbar .hide-tab-scrollbar .indicator {

    bottom: 10px !important;

    }

.container.inner_det_s.backbtncls_one {

    width: 100%;

    }

.picker__select--year.browser-default {

    width:40% !important;

    }

.row.disnon {

    display: none;

    }

#modal2 .modal-content {

    padding-top: 0px !important;

    }

.tutor_dashboard div#modal_content form {

    padding-top: 0px;

    }

#modal1 .modal-footer {

    margin-top: -45px;

    }

li.btn_lang ul#dropdownlang li a {

    padding: 14px 8px;

    text-align: center;

    }

#history_lesson_table div#modal_content h4 {

    text-align: center;

    }

#history_lesson_table .modal-footer a {

    border: 1px solid #333;

    }

.mig_rop img#profile_pic {

    min-height: 100%;

    }

.picker__wrap {

    margin-bottom:25px !important;

    }

.hiddensearch {

    display: inline-block;

    float: right;

    margin-right: 25px;

    border: 0px !important;

    margin-top: 15px;

    }

.hiddensearch input.form-control.input-sm {

    border: 2px solid #6d6a6a !important;

    border-radius: 50px;

    padding: 0px 0px 0px 20px !important;

    height: 30px;

    color: #333 !important;

    }

#history_lesson_table a.waves-effect.waves-light.btn.plyBtn {

    width: 90%;

    padding-left: 0px;

    padding-right: 0px;

    }    

.mig_wit img#imagePreview{

    width:100%;

    }

#historytable a.waves-effect {

    width:120px;

    padding-left:10px;

    padding-right:10px;

    }









div.material-table table th{

    font-size: 16px !important;

    color: #111111 !important;

	width: 100%;

/*    width: 100% !important;*/

}



table.dataTable thead th, table.dataTable thead td {    

    border-color: #ccc !important;

}



table.dataTable.no-footer {

    border-bottom:none !important;

}



table tr td {

    box-sizing: border-box !important;

}



.dataTables_wrapper .dataTables_filter{

    min-width:260px !important;

    }

.dataTables_wrapper input[type="search"]{

    border:1px solid #ccc !important;

    border-radius:4px !important;

    padding:0px 10px 0px 10px !important;

    height:36px;

    color:#333 !important;

    width:75% !important;

    min-width:75% !important;

    max-width:75%;

    box-sizing:border-box;

    margin-bottom:0px !important;

    float:revert;

    margin-left:4% !important;

    }

.dataTables_wrapper .dataTables_filter label{

    width:100% !important;

    display:inline-block;

    padding-right:15px;

    padding-top:10px;

    font-size:14px;

    }

.dataTables_wrapper .dataTables_length {

    min-width:170px;

    margin-left:15px;

    margin-top:10px;

    }

.dataTables_wrapper .dataTables_length select {

    display:inline-block !important;

    width:50px;

    padding:0px 0px 0px 5px !important;

    height:36px;

    border:1px solid #ccc !important;

    border-radius:2px;

    margin-left:10px;    

    }

.dataTables_wrapper .dataTables_length label span {

    font-size:14px;

    }

.dataTables_wrapper .dataTables_info {

    font-size:14px;

    margin-left:15px;

    }

.dataTables_wrapper .dataTables_paginate {

    padding-bottom:5px;

    }

.dataTables_wrapper .dataTables_paginate span a {

    background:none !important;

    padding:3px 10px !important;

    }



.main_loader {

    position: absolute;

    z-index: 1;

    width: 100%;

    height: 100%;

    text-align: center;

    vertical-align: middle;

    background: #000000d9;

    padding-top: 20%;

}



    

















/**Responsive**/





@media (max-width: 1280px){

    div#myprofile .card.myprofilecard .card-content .col.s2 {

        width: 25%;

    }

}



@media (max-width: 1100px){



    #teacher .mid_way .col.s2 {

        width:30%;

    }

    #teacher .mid_way .col.s7 {

        width:70%;

    }

    #teacher .mid_way  .col.s3 {

        width:70%;

    }    

    .vtn_msg {

        margin-top:0px;

        float:left;

    }

    table#lessiontable {

        width: 100% !important;

    }



}



@media (max-width: 1024px){



    .picker__day--infocus {

        padding: .4rem 0px !important;    

    }



    .mn_right h3 {

        font-size: 18px;    

    }



    .main_div_str_main.backbtncls .main_div_str_one_ine.col_o {

        width: 32%;    

    }

    .main_tutor {

        padding:10px 15px 15px;        

    }

    .list_vd ul.tabs li a .card-panel.teal {

        min-height:170px;

        padding:10px;

    }

    .list_vd ul.tabs li a img {

        max-width:90px;

    }

    .list_vd ul.tabs li a .card-panel.teal span.white-text p {

        font-size: 18px;

    }

    .list_vd ul.tabs li {            

        margin: 10px;

    }

    .hold-transition .modal {        

        max-height: 90% !important;        

        margin-bottom:15px !important;  

    }

}







@media (max-width: 992px){

	

    .main_stud div#dashboard .col.l3.s12 {

        width:50%;

    }

    .main_stud div#dashboard .row {

        margin-bottom: 0px;

    }

    #how_it_work b {

        margin-top:20px;    

    }

    html body .hide-on-med-and-down {

        display: inline-block !important;

    }

    html body nav .brand-logo {

        float: left;

        left: 85px;

    }

	

}



@media (max-width: 840px){

    div#myprofile .card.myprofilecard .card-content .col.s2 {

        width: 35%;

    }

    table.vx_rigt {

        margin-top:12px;

    }

    .vx_eml {

        margin-top: 10px;

    }

    .fc-scroller.fc-time-grid-container {

        height: auto !important;

    }

}



@media (max-width: 767px){  





    .pendding_attending_cls a.waves-effect.waves-light.btn {

        display: inline-block;    

        width: 45% !important;

        max-width: 50% !important;

        font-size:9px !important; 

    }

    .container.inner_det_s.backbtncls_one center img {

        width: 100%;

    }

    #historytable tr td {

        width: 33.33% !important;

        display: inline-block;

        float: left;

        text-align: center;

        padding: 5px !important;

        height: 40px;

    }

    #historytable tr {

        border: 1px solid #e0e0e0;

        margin-bottom: 10px;

        width: 96%;

        margin-left: 2%;

        margin-top: 10px;      

        display: inline-block;

    }

    #historytable thead {

        display:none;

    }

    #penddingtable tr td {

        width: 33.33% !important;

        display: inline-block;

        float: left;

        text-align: center;

        padding: 5px !important;

        height: 40px;

    }

    #penddingtable tr {

        border: 1px solid #e0e0e0;

        margin-bottom: 10px;

        width: 96%;

        margin-left: 2%;

        margin-top: 10px;      

        display: inline-block;

    }

    #penddingtable thead {

        display:none;

    }

    #recordertable tr td {

        width: 33.33% !important;

        display: inline-block;

        float: left;

        text-align: center;

        padding: 5px !important;

        height: 40px;

    }

    #recordertable tr {

        border: 1px solid #e0e0e0;

        margin-bottom: 10px;

        width: 96%;

        margin-left: 2%;

        margin-top: 10px;      

        display: inline-block;

    }

    #recordertable thead {

        display:none;

    }

    #lessiontable tr td {

        width: 33.33% !important;

        display: inline-block;

        float: left;

        text-align: center;

        padding: 5px !important;

        height: 40px;

    }

    #lessiontable tr {

        border: 1px solid #e0e0e0;

        margin-bottom: 10px;

        width: 96%;

        margin-left: 2%;

        margin-top: 10px;      

        display: inline-block;

    }

    #lessiontable thead {

        display:none;

    }

    #lessiontable button {

        margin-left: 0px;

    }

    #lessiontable button {

        padding: 4px 15px !important;

    }

    #history_lesson_table div#modal_content h4 {

        text-align: center;

        font-size: 26px;

        word-break: break-all;

        white-space: break-spaces;

    }

    .pendding_attending_cls a.waves-effect.waves-light.btn{

        margin-top: 0px;

    }

    div#modal_content img {

        width: 100% !important;

    }

    #modal1 button.waves-effect.waves-light.btn {    

        float: left;

    }

    .main_tutor div#profile .card {

        padding:15px;    

    }

    #cirruculum .main_div_str_main.backbtncls {

        margin-bottom: 25px;

    }

    div#myprofile .card.myprofilecard .card-content .table-responsive {

        border: 0px;

        margin-bottom: 0px;

    }

    #teacher .mid_way .col.s7 .table-responsive {

        border: 0px;

        margin-bottom: 0px;

    }

    .table-responsive {

        min-height: .01%;

        overflow-x: auto;

        width: 100%;

        margin-bottom: 15px;

        overflow-y: hidden;

        -ms-overflow-style: -ms-autohiding-scrollbar;

        border: 1px solid #ddd;

    } 

    table {

        width: 100%;

        max-width: 100%;

    /*    table-layout: inherit !important;*/

    }    

    .main_studOne ul.tabs li a {     

        font-size:13px !important;

        text-transform:capitalize;

    }

    nav .brand-logo img {

        max-width:140px;    

    }

    #schedule_calendar {    

        padding: 15px;

    }

    .main_div_str_main.backbtncls .main_div_str_one_ine.col_o {

        width: 31%;    

    }

    .container.inner_det_s {

        width: 100%;

    } 

    .curriculum_inner_page span {

        font-size:16px !important;

    }

    .main_div_str_one {

        width: 100%;

        max-width: 300px;

        display: block;

        float: none !important;

        margin: 0px auto;

    }

    div#profile .col.s12 > .card > .row > .col.s5 {       

        width: 100%;

        margin-bottom: 20px;

    }

    div#profile .col.s12 > .card > .row > .col.s7 {

        width: 100%;

    }

    .container.main_stud {

        padding:10px 15px 15px;    

    }

    div#myprofile .card.myprofilecard .card-content .col.s2 {

        width: 40%;

    }

	

	

/* 12 oct */



ul#dropdownone li a {

    padding-top: 12px !important;

    font-weight: 600;

}	



textarea#reason {

    width: 100% !important;

}

	

}



@media (max-width: 600px){





    nav .nav-wrapper i {

        height: 60px;

        line-height: 60px;

    }

    #profile .grd_right .col.s3 {

        width: 100%;

    }

    #profile .grd_right .col.s5 {

        width: 65%;

    }

    .msg_icon i.fa.fa-envelope {

        margin-top: 20px;

    }

    ul#nav-mobile ul li a.dropdown-button i.material-icons.left {

        margin-top: 18px;

    }

    div#myprofile .card.myprofilecard .card-content .col.s2 {

        width: 100%;

    }

    div#myprofile .card.myprofilecard .card-content .col.s4 {

        width: 100%;

    }

    div#myprofile .card.myprofilecard .card-content .col.s5 {

        width: 100%;

    }    

    .main_stud div#dashboard .row .card_main {

        padding: 15px;

    } 

    .main_stud div#dashboard .col.l3.s12 {

        width:100%;

    }

    .main_div_str_main.backbtncls .main_div_str_one_ine.col_o {

        width: 48%;

    }

    .list_vd ul.tabs li {

        display: inline-block !important;

        width: 100% !important;

        max-width: 100% !important;

        margin: 10px 0px;

    }

    .list_vd ul.tabs {

        display: grid;

        width: 100%;

        text-align: center;

    }    

    #studentstable button{

        margin-left:10px;

    }

    .fc-toolbar h2 {

        font-size:16px !important;

    }

    .main_tutor div#lession ul.tabs {

        max-width: 100%;    

    }

    .main_tutor div#lession ul.tabs .indicator {

        bottom: 0px !important;

    }

    #teacher .mid_way .col.s2 {

        width:100%;

    }

    #teacher .mid_way .col.s7 {

        width:100%;

    }

    #teacher .mid_way  .col.s3 {

        width:100%;

    } 

	

/* 12 oct */



ul#dropdownone li a {

    padding-top: 12px !important;

    font-weight: 600;

}



textarea#reason {

    width: 100% !important;

}	

	 

}



@media (max-width: 540px){

    nav ul a {    

        padding: 0 8px;

    }

    .msg_icon span.badge.red.round {    

        right:-2px !important;

    }



    .main_studOne ul.tabs li a {    

        text-transform: uppercase;

    }

    .vd_mid a {

        font-size: 18px;

    }

    .main_studOne .hide-tab-scrollbar {

        height: auto;

    }

    #profile .grd_right .col.s4 {

        width:100%;

    }

    .main_div_str_main.backbtncls .main_div_str_one_ine.col_o {

        width: 96%;

    }

    nav.tut_nav {

        background: #fff;

        margin-bottom: 1px;

        height: 56px;

        line-height: 10px;

    }

    nav .brand-logo {

        margin-left: 0px;

        padding-top: 4px;

        margin-bottom:5px !important;

        display: inline-block;

        position: relative;

    }

    .main_studOne ul.tabs li.tab {

        height:auto !important;

        width:100%;

        border-bottom:1px solid #cccccc85;

        line-height:24px;

    }

    .main_studOne ul.tabs {

        height: auto !important;

        overflow: hidden;

        display: inline-block;

        width: 100% !important;

    }

    .fc-toolbar.fc-header-toolbar {

        display: inline-block;

        width: 100%;

        text-align: center;

    }

    .fc-toolbar.fc-header-toolbar .fc-center {

        margin: 10px 0px;

    }

    .tutor_dashboard .modal-content form button[type="submit"] {

        display: inline-block;

        width: 100%;

        margin: 0px 0px 10px;

    }

    div#session_delete_box {

        display: inline-block;

        width: 100% !important;

    }

    div#session_delete_box button#delete_session {

        width: 100%;

    }

    .tutor_dashboard .modal-footer {

        margin: 0px;

        width: 100% !important;

        float: left;

        padding: 0px;

    }

    .tutor_dashboard .modal-footer a.modal-action.modal-close.waves-effect.waves-green.btn-flat.cl_attwo {

        width: 100%;

        text-align: center;

        border: 1px solid;

        margin: 0px;

    }



/* 12 oct */	

	

ul#dropdownone li a {

    padding-top: 12px !important;

    font-weight: 600;

}



textarea#reason {

    width: 100% !important;

}



}





@media (max-width: 767px){

#penddingtable tr td {

    width: 100% !important;

}

}





@media (max-width: 480px){



    #historytable tr td {

        width:50% !important;

    }

    #penddingtable tr td {

        width:100% !important;

    }

    #recordertable tr td {

        width:50% !important;

    }

    #lessiontable tr td {

        width: 50% !important;    

    }

    #lessiontable tr {    

        border-bottom:1px solid #e0e0e0 !important; 

    }

    ul#nav-mobile ul li.vsn_vx > a {

        margin-top: 5px;

            padding: 0px !important;

    }

    ul#nav-mobile ul li.vsn_vx {

        margin-right: 5px;

    }

    html body nav .brand-logo {

        float: left;

        left: 60px;        

        }   

    nav .brand-logo img {

        max-width: 100px;

    }

    nav ul a {    

        padding: 0 10px !important;

    }

    i.material-icons.left {

        margin-right: 0px !important;

    }

    .btn_lang a.dropdown-button {        

        margin-top: 5px;

    }

    .msg_icon span.badge.red.round {    

        top: 8px !important;

        right: 5px !important;

    }

    .msg_icon i.fa.fa-envelope {

        margin-top: 14px;

    }

    ul#nav-mobile ul li a.dropdown-button i.material-icons.left {

        margin-top: 12px;

    }

    #totalnotification {

        top: 8px !important;

        right: 0px !important;

    }

    div#acceptModal131 {

        width: 98%;

    }

    div.material-table .table-footer .dataTables_info, div.material-table .table-footer .dataTables_length {

        margin-right:10px !important;

    }

    div.material-table .table-footer select {

        margin-left:0px !important;

    }

    div.material-table .table-footer .material-pagination li:first-child {

        margin-right: 0px !important;

    }

    .modal {

        width:90%;

    }

    #addLessonForm .input-field.col.s6 {

        width: 100%;

    }

    .modal .modal-content {

        padding:15px !important;

    }

    #inviteStudentForm .input-field.col.s6 {

        width:100%;

    }

	

/* 12 oct */	



ul#dropdownone li a {

    padding-top: 12px !important;

    font-weight: 600;

}



textarea#reason {

    width: 100% !important;

}





a.waves-effect.waves-light.btn.plyBtn

{

	width:100px !important;

	padding-left:5px !important;

	padding-right:5px !important;

	font-size:12px !important;

}



	

}



/**Responsive end**/







/*12 oct */



th.sorting_asc {

    max-width: 59px !important;

}



div#historytable_paginate span a:hover {

    color: #000 !important;

}



div#history_lesson_table_paginate span a:hover {

    color: #000 !important;

}





/* 13 oct */



th.msg_ser_until {

    width: 135px !important;

}



th.msg_ser_from {

    width: 140px !important;

}



th.msg_ser_date {

    width: 125px !important;

}



th.msg_ser_no {

    width: 160px !important;

}



th.msg_ser_grade {

    width: 163px !important;

}



th.msg_ser_lesson {

    width: 150px !important;

}



th.msg_ser_descrip {

    width: 350px !important;

}



th.msg_ser_name {

    width: 180px !important;

}



th.msg_ser_no {

    width: 66px !important;

}

 



	

	

/* 12 nov */

	

a.paginate_button:hover 

	{

		background: #999 !important;

	}





/* 18 nov */



th.msg_ser_no_tutor.sorting_asc {

    width: 60px !important;

}



th.sorting:after {

    display: none !important;

}



th.sorting {

    width: 60px !important;

}













/* 19 nov */



@media (min-width: 768px) and (max-width: 992px){



div.material-table table {

    table-layout: auto !important;

	    width: 100% !important;

}



.container.main_stud

{

    padding: 10px 10px 15px !important;	

}



.container.main_stud.main_stud_cls {

    padding: 10px 0px 15px !important;

}





#lessiontable thead tr th {

    font-size: 12px !important;

}



th.sorting_desc {

    width: 40px !important;

    padding-left: 0px !important;

    text-align: center;

}



tbody#upcoming_body td {

    font-size: 12px !important;

}





.container.main_stud.main_stud_cls {

    padding: 10px 0 15px !important;

}



	

	

#lessiontable thead tr th:nth-child(2) {

    width: 100px !important;

}



table#penddingtable thead tr th {

    font-size: 12px !important;

}

table#penddingtable thead tr th.sorting_asc {

    width: 45px !important;

    padding: 0;

    text-align: center;

}

table#penddingtable tbody#student_pendding_lesson tr td {

    font-size: 12px !important;

}



table#penddingtable thead tr th:nth-child(2) {

    width: 90px !important;

}



table#penddingtable thead tr th:nth-child(8) {

    text-align: center;

}









table#historytable thead tr th {

    font-size: 12px !important;

}



table#historytable thead tr th.sorting {

    padding: 0;

    text-align: center;

}



table#historytable thead tr th:nth-child(2) {

    width: 94px !important;

}



table#historytable thead tr th:nth-child(8) {

    width: 90px !important;

    text-align: center;

}



table#historytable thead tr th:nth-child(3) {

    width: 100px !important;

}



table#historytable thead tr th:nth-child(4) {

    width: 80px !important;

    text-align: left;

}



table#historytable thead tr th:nth-child(5) {

    width: 80px !important;

}



table#historytable thead tr th:nth-child(6) {

    width: 80px !important;

}



table#historytable thead tr th:nth-child(7) {

    width: 90px !important;

}







table#recordertable thead tr th {

    font-size: 12px !important;

}





table#recordertable thead tr th {

    font-size: 12px !important;

}



table#recordertable thead tr th.sorting_asc {

    width: 50px !important;

    padding: 0;

    text-align: center;

}







table#recordertable thead tr th:nth-child(2) {

    width: 94px !important;

}



table#recordertable thead tr th:nth-child(8) {

    width: 90px !important;

    text-align: center;

}



table#recordertable thead tr th:nth-child(3) {

    width: 100px !important;

}



table#recordertable thead tr th:nth-child(4) {

    width: 80px !important;

    text-align: left;

}



table#recordertable thead tr th:nth-child(5) {

    width: 80px !important;

}



table#recordertable thead tr th:nth-child(6) {

    width: 80px !important;

}



table#recordertable thead tr th:nth-child(7) {

    width: 90px !important;

}

	

}



@media (min-width: 993px) and  (max-width: 1220px){





div.material-table table {

    table-layout: auto !important;

	    width: 100% !important;

}



.container.main_stud

{

    padding: 10px 10px 15px !important;	

}



.container.main_stud.main_stud_cls {

    padding: 10px 0px 15px !important;

}





#lessiontable thead tr th {

    font-size: 14px !important;

}



th.sorting_desc {

    width: 40px !important;

    padding-left: 0px !important;

    text-align: center;

}



tbody#upcoming_body td {

    font-size: 14px !important;

}





.container.main_stud.main_stud_cls {

    padding: 10px 0 15px !important;

}



	

	

#lessiontable thead tr th:nth-child(2) {

    width: 100px !important;

}



table#penddingtable thead tr th {

    font-size: 14px !important;

}

table#penddingtable thead tr th.sorting_asc {

    width: 45px !important;

    padding: 0;

    text-align: center;

}

table#penddingtable tbody#student_pendding_lesson tr td {

    font-size: 14px !important;

}



table#penddingtable thead tr th:nth-child(2) {

    width: 90px !important;

}



table#penddingtable thead tr th:nth-child(8) {

    text-align: center;

}









table#historytable thead tr th {

    font-size: 14px !important;

}



table#historytable thead tr td {

    font-size: 14px !important;

}



table#historytable thead tr th.sorting {

    padding: 0;

    text-align: center;

}



table#historytable thead tr th:nth-child(2) {

    width: 94px !important;

}



table#historytable thead tr th:nth-child(8) {

    width: 90px !important;

    text-align: center;

}



table#historytable thead tr th:nth-child(3) {

    width: 100px !important;

}



table#historytable thead tr th:nth-child(4) {

    width: 80px !important;

    text-align: left;

}



table#historytable thead tr th:nth-child(5) {

    width: 80px !important;

}



table#historytable thead tr th:nth-child(6) {

    width: 80px !important;

}



table#historytable thead tr th:nth-child(7) {

    width: 90px !important;

}







table#recordertable thead tr th {

    font-size: 14px !important;

}





table#recordertable thead tr td {

    font-size: 14px !important;

}



table#recordertable thead tr th.sorting_asc {

    width: 50px !important;

    padding: 0;

    text-align: center;

}







table#recordertable thead tr th:nth-child(2) {

    width: 94px !important;

}



table#recordertable thead tr th:nth-child(8) {

    width: 90px !important;

    text-align: center;

}



table#recordertable thead tr th:nth-child(3) {

    width: 100px !important;

}



table#recordertable thead tr th:nth-child(4) {

    width: 80px !important;

    text-align: left;

}



table#recordertable thead tr th:nth-child(5) {

    width: 80px !important;

}



table#recordertable thead tr th:nth-child(6) {

    width: 80px !important;

}



table#recordertable thead tr th:nth-child(7) {

    width: 90px !important;

}

	

#historytable a.waves-effect {

    width: auto;

}

	



}





@media (min-width: 1221px) and  (max-width: 8063px){

	.container.main_stud.main_stud_cls {

		padding: 10px 0px 15px;

	}

}













