
body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
}

a {
  color: #0880e8;
}

a:hover {
  color: #2b99f8;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
}


.back-to-top {
  position: fixed;
  display: none;
  right: 15px;
  bottom: 15px;
  z-index: 99999;
}

.back-to-top i {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  background: #0880e8;
  color: #fff;
  transition: all 0.4s;
}

.back-to-top i:hover {
  background: #f6b024;
  color: #fff;
}

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #0880e8;
  border-top-color: #bfe0fd;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}

/*--------------------------------------------------------------
# Top Bar
--------------------------------------------------------------*/
#topbar {
  height: 60px;
  font-size: 14px;
  transition: all 0.5s;
  overflow: hidden;
  color: rgba(255, 255, 255, 0.8);
  background: #c52a39;
}

#topbar.topbar-scrolled {
  top: -60px;
}

#topbar .contact-info ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

#topbar .contact-info li {
  display: inline-block;
  padding: 0;
}

#topbar .contact-info li + li {
  margin-left: 18px;
}

#topbar .contact-info a {
  color: rgba(255, 255, 255, 0.8);
  transition: 0.3s;
}

#topbar .contact-info a:hover {
  color: #fff;
}

#topbar .contact-info i {
  color: #f6b024;
  padding-right: 4px;
}

#topbar .cta {
  background: transparent;
}

#topbar .cta a {
  color: #fff;
  background: #f6b024;
  padding: 6px 24px 8px 24px;
  display: inline-block;
  transition: 0.3s;
  border-radius: 50px;
}

#topbar .cta a:hover {
  background: #f1a40a;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
    background: #FFF;
    transition: all 0.5s;
    z-index: 997;
    padding: 15px 0;
    top: 60px;
    /* border-bottom: 1px solid #dbdbdb; */
    box-shadow: 0px 2px 7px #e7e7e7;
}

#header.header-scrolled {
  top: 0;
  background: #FFF;
}

#header .logo {
  font-size: 32px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;
}

#header .logo a {
  color: #fff;
}

#header .logo img {
  max-height: 60px;
}

@media (max-width: 992px) {
  #header {
    top: 0;
    padding: 15px 0;
    background: transparent;
  }
  #header .logo {
    font-size: 28px;
  }
}

.header-inner-pages {
  background: rgba(5, 87, 158, 0.9) !important;
}

.topbar-inner-pages {
  background: rgba(6, 98, 178, 0.9) !important;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Desktop Navigation */
.nav-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu > ul {
  display: flex;
}

.nav-menu > ul > li {
  position: relative;
  white-space: nowrap;
  padding: 10px 0 10px 24px;
}

.nav-menu a {
  display: block;
  position: relative;
  color: #616161;
  transition: 0.3s;
  font-size: 15px;
  padding: 0 3px;
  font-family: "Open Sans", sans-serif;
}

.nav-menu > ul > li > a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: #c52a39;
  visibility: hidden;
  width: 0px;
  transition: all 0.3s ease-in-out 0s;
}

.nav-menu a:hover:before, .nav-menu li:hover > a:before, .nav-menu .active > a:before {
  visibility: visible;
  width: 100%;
}

.nav-menu a:hover, .nav-menu .active > a, .nav-menu li:hover > a {
  color: #2f2f2f;
}

.nav-menu .drop-down ul {
  display: block;
  position: absolute;
  left: 14px;
  top: calc(100% + 30px);
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  padding: 10px 0;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
  border-radius: 8px;
}

.nav-menu .drop-down:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.nav-menu .drop-down li {
  min-width: 180px;
  position: relative;
}

.nav-menu .drop-down ul a {
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 500;
  text-transform: none;
  color: #032e54;
}

.nav-menu .drop-down ul a:hover, .nav-menu .drop-down ul .active > a, .nav-menu .drop-down ul li:hover > a {
  color: #0880e8;
}

.nav-menu .drop-down > a:after {
  content: "\ea99";
  font-family: IcoFont;
  padding-left: 5px;
}

.nav-menu .drop-down .drop-down ul {
  top: 0;
  left: calc(100% - 30px);
}

.nav-menu .drop-down .drop-down:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
}

.nav-menu .drop-down .drop-down > a {
  padding-right: 35px;
}

.nav-menu .drop-down .drop-down > a:after {
  content: "\eaa0";
  font-family: IcoFont;
  position: absolute;
  right: 15px;
}

@media (max-width: 1366px) {
  .nav-menu .drop-down .drop-down ul {
    left: -90%;
  }
  .nav-menu .drop-down .drop-down:hover > ul {
    left: -100%;
  }
  .nav-menu .drop-down .drop-down > a:after {
    content: "\ea9d";
  }
}

/* Mobile Navigation */
.mobile-nav-toggle {
  position: fixed;
  right: 15px;
  top: 15px;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 24px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 1;
  cursor: pointer;
  text-align: right;
}

.mobile-nav-toggle i {
  color: #c22937;
}

.mobile-nav {
  position: fixed;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  z-index: 9999;
  overflow-y: auto;
  background: #fff;
  transition: ease-in-out 0.2s;
  opacity: 0;
  visibility: hidden;
  border-radius: 10px;
  padding: 10px 0;
}

.mobile-nav * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.mobile-nav a {
  display: block;
  position: relative;
  color: #3a3a3a;
  padding: 10px 20px;
  font-weight: 500;
  outline: none;
}

.mobile-nav a:hover, .mobile-nav .active > a, .mobile-nav li:hover > a {
  color: #2f2f2f;
  text-decoration: none;
}

.mobile-nav .drop-down > a:after {
  content: "\ea99";
  font-family: IcoFont;
  padding-left: 10px;
  position: absolute;
  right: 15px;
}

.mobile-nav .active.drop-down > a:after {
  content: "\eaa1";
}

.mobile-nav .drop-down > a {
  padding-right: 35px;
}

.mobile-nav .drop-down ul {
  display: none;
  overflow: hidden;
}

.mobile-nav .drop-down li {
  padding-left: 20px;
}

.mobile-nav-overly {
  width: 100%;
  height: 100%;
  z-index: 9997;
  top: 0;
  left: 0;
  position: fixed;
  background: #dc354559;
  overflow: hidden;
  display: none;
  transition: ease-in-out 0.2s;
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active .mobile-nav {
  opacity: 1;
  visibility: visible;
}

.mobile-nav-active .mobile-nav-toggle i {
  color: #fff;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero1 {
  width: 100%;
  height: 600px;
  /*overflow: hidden;*/
 /* position: relative;*/
  background: url("../img/slider-bg.png") top center;
  background-size: cover;
  margin-bottom: 56px;
      margin-top: 143px;
}
#hero {
  width: 100%;
  height: 80vh;
  overflow: hidden;
  position: relative;
  background: url("../img/client.png") top center;
  background-size: cover;
  position: relative;
  margin-bottom: -90px;
}

#hero1:before {
  content: "";
/*  background: rgba(6, 101, 183, 0.9);*/
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#hero:before {
  content: "";
background: #c52a39de;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#hero .carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#hero h2 {
  color: #fff;
  margin-bottom: 30px;
  font-size: 48px;
  font-weight: 700;
}

#hero p {
    width: 80%;
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
    margin: 0 auto 30px auto;
    color: #5f5f5f;
    background: #FFF;
    padding: 55px 25px;
    font-style: italic;
    font-size: 17px;
    border-radius: 6px;
    color: #c52a39;
}
.circle-img {
    height: 120px;
    width: 120px;
    border-radius: 100px;
    background: #FFF;
    overflow: hidden;
    border: 2px solid #FFF;
    margin: 1% 1% -4% 1%;
    z-index: 9999;
}
.match-text h2 {
    text-align: center;
    width: 100%;
    padding: 26px;
}
.match-box {
    border: 1px solid #fff;
    min-height: 350px;
    padding: 15px;
    border-radius: 12px;
    background-color: #2a2d2e;
    float: left;
    color: #FFF;
}
.m-xp a:hover{
color: #FFF;
}
.m-xp a{
color: #FFF;
}
.match-pic{
	overflow: hidden;
	height: 100%;
	border-radius: 12px;
}
.match-persent{
    position: relative;
    background: #c52a39;
    border-radius: 40px;
    top: -17px;
   margin: auto;
    width: 75%;
    padding: 8px;
    text-align: center;
    color: #FFF;
}
.match-box h3 {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}
.match-pic img{
width: 100%;
max-width: 300px;
	}
.match-box p{
	text-align: center;
	font-size: 14px;
}
.match-box-d {
    border: 1px solid #fff;
    min-height: 750px;
    padding: 15px;
    border-radius: 12px;
    background-color: #2a2d2e;
    float: left;
    color: #FFF;
    width: 80%;
}
.match-pic-d img {
    width: 100%;
    max-width: 500px;
    margin: auto;
    align-items: center;
    display: flex;
}
.match-pic-d {
    overflow: hidden;
    height: 45%;
    border-radius: 12px;
    width: 48%;
    margin: auto;
  
}
.loction{
	margin-top: 20px;
	font-size: 22px;
}
.gri-box{
	margin-top: 15px;
}
.gri-box h2 {
    text-transform: uppercase;
    font-size: 21px;
}
.match-box-d p {
    text-align: center;
    font-size: 16px;
}
.brk{
	height: 2px;
	background-color: #464646;
	width: 80%;
	margin: auto;
}
.match-box-d h3 {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
}
.list-details{

}
.cross-btn-ser {
    background: #FFF;
    border: 1px solid #e2e2e2;
    border-radius: 50px;
    height: 45px;
    width: 45px;
    float: left;
    display: flex;
    font-size: 28px;
    color: #989898 !important;
    margin-right: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.cross-btn a:hover{
	color: #c52a39;
}
.cross-btn{
	    margin: auto;
    width: 50%;
    transition: 0.5s;
}
.cross-btn a {

}
.circle-img img{

  max-width: 100%;
}
#hero .carousel-control-prev, #hero .carousel-control-next {
  width: 10%;
}

#hero .carousel-control-next-icon, #hero .carousel-control-prev-icon {
    background: none;
    font-size: 48px;
    line-height: 1;
    width: auto;
    height: auto;
    background: #FFF;
    border-radius: 50px;
    color: #000;
}
.carousel-control-next, .carousel-control-prev {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 15%;
    color: #fff;
    text-align: center;
     opacity: 9; 
    transition: opacity .15s ease;
}

#hero .btn-get-started {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 32px;
  border-radius: 50px;
  transition: 0.5s;
  line-height: 1;
  margin: 10px;
  color: #fff;
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
  border: 2px solid #f6b024;
}

#hero .btn-get-started:hover {
  background: #f6b024;
  color: #fff;
  text-decoration: none;
}

@media (min-width: 1024px) {
  #hero p {
    width: 60%;
  }
  #hero .carousel-control-prev, #hero .carousel-control-next {
    width: 5%;
  }
}

@media (max-width: 768px) {
  #hero {
    height: 100vh;
    margin-bottom: 60px;
  }
  #hero h2 {
    font-size: 28px;
  }
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  
}

.section-bg {
  background-color: #f1f8ff;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 0;
  color: #054a85;
}

.section-title p {
  margin-bottom: 0;
  font-style: italic;
}

/*--------------------------------------------------------------
# Icon Boxes
--------------------------------------------------------------*/
.icon-boxes {
  padding-top: 0;
}



.icon-boxes .icon {
  margin: 0 auto 20px auto;
  display: inline-block;
  text-align: center;
}

.icon-boxes .icon i {
  font-size: 36px;
  line-height: 1;
  color: #f6b024;
}

.icon-boxes .title {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
}


.icon-boxes .description {
  font-size: 15px;
  line-height: 28px;
  margin-bottom: 0;
  color: #777777;
}

/*--------------------------------------------------------------
# About Us
--------------------------------------------------------------*/
.about {
  padding: 12px 0;
  background: url("../img/abou.png") top center no-repeat;
    position: relative;
    margin-top: 90px;
    background-size: cover;
    height: 600px;
    overflow: hidden;
}
.pos-play {
    position: relative;
    right: 11%;
    top: 393px;
    width: 158px;
}
.app-box {
    display: flex;
    justify-content: space-around;
    padding-top: 29px;
    width: 70%;
    margin: auto;
}
.app-box img{
width: 180px;
  
}
.port-fil h3 {
    text-align: center;
    color: #000;
    font-weight: bold;
        line-height: 35px;
}
.mobile-play{

  width: 250px;
  float: right;
}
.about:before {
  content: "";
  background: rgba(255, 255, 255, 0.75);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

.about .container {
  position: relative;
}

.about .content h3 {
  font-weight: 600;
  font-size: 26px;
}

.about .content ul {
  list-style: none;
  padding: 0;
}

.about .content ul li {
  padding-left: 28px;
  position: relative;
}

.about .content ul li + li {
  margin-top: 10px;
}

.about .content ul i {
  position: absolute;
  left: 0;
  top: 2px;
  font-size: 20px;
  color: #0880e8;
  line-height: 1;
}

.about .content p:last-child {
  margin-bottom: 0;
}

.about .content .btn-learn-more {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 32px;
  border-radius: 5px;
  transition: 0.3s;
  line-height: 1;
  color: #0880e8;
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
  margin-top: 6px;
  border: 2px solid #0880e8;
}

.about .content .btn-learn-more:hover {
  background: #0880e8;
  color: #fff;
  text-decoration: none;
}

@media (max-width: 992px) {
  .about {
    padding: 60px 0;
  }
}

/*--------------------------------------------------------------
# Clients
--------------------------------------------------------------*/
.clients .owl-item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}

.clients .owl-item img {
  width: 100%;
 /* opacity: 0.5;*/
  transition: 0.3s;
}

.clients .owl-item img:hover {
  opacity: 1;
}

.clients .owl-nav, .clients .owl-dots {
  margin-top: 5px;
  text-align: center;
}

.clients .owl-dot {
  display: inline-block;
  margin: 0 5px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #bbb !important;
}

.clients .owl-dot.active {
  background-color: #c4313e !important;
}

/*--------------------------------------------------------------
# Cta
--------------------------------------------------------------*/
.cta {
  background: linear-gradient(rgba(5, 74, 133, 0.8), rgba(5, 74, 133, 0.9)), url("../img/cta-bg.jpg") fixed center center;
  background-size: cover;
  padding: 120px 0;
}

.cta h3 {
  color: #fff;
  font-size: 28px;
  font-weight: 700;
}

.cta p {
  color: #fff;
}

.cta .cta-btn {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 0.5px;
  display: inline-block;
  padding: 8px 26px;
  border-radius: 2px;
  transition: 0.5s;
  margin: 10px;
  border-radius: 50px;
  border: 2px solid #f6b024;
  color: #fff;
}

.cta .cta-btn:hover {
  background: #f6b024;
}

@media (max-width: 1024px) {
  .cta {
    background-attachment: scroll;
  }
}

@media (min-width: 769px) {
  .cta .cta-btn-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact {
  background: url("../img/hotal.png") left center no-repeat;
  position: relative;
     height: 620px;
    top: 0;
    display: flex;
    background-size: contain;
    bottom: 0;
    align-items: center;
}

.contact:before {
  content: "";
 /* background: rgba(255, 255, 255, 0.7);*/
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}
.contact h4 {
    text-align: center;
    color: #000;
    background: #ffffff7a;
    padding: 33px 46px;
    line-height: 40px;
}
.contact .container {
  position: relative;
}


@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.newslate .form-control {
    display: block;
    width: 100%;
    height: calc(2.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.app-box-footer{
display: flex;
justify-content: space-between;
padding-top: 10px;
}
.app-box-footer img{
width: 122px;
  }

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background: #e4e1dc;
  padding: 0 0 30px 0;
  color: #1a1a1a;
  font-size: 14px;
}
.quesiotn-select h3 {
    font-size: 22px;
    text-align: left;
    margin-bottom: 42px;
    margin-top: 9px;
}
.neslat-2 {
    text-align: center;
    display: flex;
    justify-content: center;
    background: #c52a39;
    color: #FFF;
    padding: 11px;
    text-transform: uppercase;
    font-size: 18px;
    transition: 0.5s;
    width: 32%;
    border: 1px solid #ccc;
}
.neslat-2:hover {
color: #ffffff;
background-color: #3a3a3c;
  }
.neslat {
    text-align: center;
    display: flex;
    justify-content: center;
    background: #c52a39;
    color: #FFF;
    padding: 11px;
    text-transform: uppercase;
    font-size: 18px;
    transition: 0.5s;

}
.neslat:hover {
color: #ffffff;
background-color: #3a3a3c;
  }
#footer .footer-newsletter {
  padding: 50px 0;
  background: #05579e;
}

#footer .footer-newsletter h4 {
  font-size: 24px;
  margin: 0 0 20px 0;
  padding: 0;
  line-height: 1;
  font-weight: 600;
}

#footer .footer-newsletter form {
  margin-top: 30px;
  background: #fff;
  padding: 6px 10px;
  position: relative;
  border-radius: 50px;
}

#footer .footer-newsletter form input[type="email"] {
  border: 0;
  padding: 4px;
  width: calc(100% - 100px);
}

#footer .footer-newsletter form input[type="submit"] {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 20px;
  margin: 3px;
  background: #f6b024;
  color: #fff;
  transition: 0.3s;
  border-radius: 50px;
}
.bg-btn{
  border-bottom: 1px solid #ccc;

}
#footer .footer-newsletter form input[type="submit"]:hover {
  background: #0880e8;
}

#footer .footer-top {
  background: #e4e1dc;
  padding: 60px 0 30px 0;
}

#footer .footer-top .footer-info {
  margin-bottom: 30px;
}

#footer .footer-top .footer-info h3 {
  font-size: 18px;
  margin: 0 0 20px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: 700;
}

#footer .footer-top .footer-info p {
    font-size: 15px;
    line-height: 24px;
    margin-bottom: 0;
    font-family: "Raleway", sans-serif;
    color: #1a1a1a;
    font-weight: bold;
    margin-top: 13px;
}
#footer .footer-top .social-links a {
  font-size: 16px;
  display: inline-block;
  background:rgb(197 42 57);
  color: #fff;
  line-height: 1;
  padding: 10px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
  background: #000;
  color: #fff;
  text-decoration: none;
}

#footer .footer-top h4 {
  font-size: 16px;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 12px;
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: #5db1f9;
  font-size: 18px;
  line-height: 1;
}

#footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul a {
  color:rgb(65 65 65 / 75%);
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}

#footer .footer-top .footer-links ul a:hover {
  color: #c52a39;
}

#footer .footer-top .footer-contact {
  margin-bottom: 30px;
}

#footer .footer-top .footer-contact p {
  line-height: 26px;
}

#footer .copyright {
  text-align: left;
 
}

#footer .credits {
  padding-top: 5px;
  text-align: right;
  font-size: 13px;
  color: #fff;
}

#footer .credits a {
  color: #f6b024;
}
.copyright strong{
color: #c52a39;
}
.top-oscal a {
    font-size: 26px;
    margin-right: 10px;
    color: #FFF;
}

/******************************new css**************************************/
.slider-text-love{
  color: #FFF;
}
.form-text h3{
  color: #c52a39;
  padding-bottom: 20px;
}
.icon-boxes .icon-box {
  padding: 40px 30px;
  position: relative;
  overflow: hidden;
  background: #fff;
  box-shadow: 5px 10px 29px 0 rgba(68, 88, 144, 0.2);
  transition: all 0.3s ease-in-out;
  border-radius: 10px;
  text-align: center;
  width: 100%;
border: 3px solid #c52a39;

}
.img-side {
    position: absolute;
    right: -1%;
    bottom: -7px;
}
.dating-form .form-control {
    display: block;
    width: 100%;
    height: calc(2.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #FFF;
    background-color: #c52a39;
    background-clip: padding-box;
    border: 1px solid #FFF;
    border-radius: 0rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.dating-form::placeholder{

color: #FFF;
}
.icon-boxes .title a {
    color: #3e3e3e;
    font-size: 27px;
    font-weight: 500;
}

.radio {
  margin: 0.5rem;
}
.radio input[type=radio] {
  position: absolute;
  opacity: 0;
}
.radio input[type=radio] + .radio-label:before {
  content: "";
  background: #c52a39;
  border-radius: 100%;
  border: 2px solid #c52a39;
  display: inline-block;
  width: 2em;
  height: 2em;
  position: relative;
  top: -0.2em;
  margin-right: 1em;
  vertical-align: top;
  cursor: pointer;
  text-align: center;
  transition: all 250ms ease;
}
.radio input[type=radio]:checked + .radio-label:before {
  background-color: #c52a39;
  box-shadow: inset 0 0 0 4px #f4f4f4;
}
.radio input[type=radio]:focus + .radio-label:before {
  outline: none;
  border-color: #c52a39;
}
.radio input[type=radio]:disabled + .radio-label:before {
  box-shadow: inset 0 0 0 4px #f4f4f4;
  border-color: #c52a39;
  background: #c52a39;
}
.radio input[type=radio] + .radio-label:empty:before {
  margin-right: 0;
}
.raid-fanc label{

  font-weight: bold;
  text-transform: uppercase;
}
.weiter-btn {
    background: #c52a39;
    color: #FFF;
    padding: 10px 51px;
    font-size: 18px;
    display: flex;
    justify-content: space-around;
    width: 35%;
    margin: auto;
    vertical-align: middle;
    align-items: center;
    margin-top: 30px;
    transition: 0.5s;
}
.weiter-btn:hover{
    color: #ffffff;
    background-color: #3a3a3c;

}
.weiter-btn i{

  font-size: 25px;
}
.weiter-btn:hover {
transition: 0.5s;
color: #FFF;

  }
  .weiter-btn-right {
    background: #c52a39;
    color: #FFF;
    padding: 10px 51px;
    font-size: 18px;
    display: flex;
    justify-content: space-around;
    width: 30%;
    margin-left: auto;
    vertical-align: middle;
    align-items: center;
    margin-top: 30px;
    transition: 0.5s;
}
.weiter-btn-right i{

  font-size: 25px;
}
.weiter-btn-right:hover {

color: #ffffff;
background-color: #3a3a3c;

  }
 .pic-foru {
    background-color: #c52a39;
    text-align: center;
    color: #FFF;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    margin-bottom: 20px;
}
 .pic-foru h2 {
margin-bottom: 0px;
font-size: 30px;
  }
  .weiter-btn-resto {
    background: #c52a39;
    color: #FFF;
    padding: 10px 51px;
    font-size: 18px;
    display: flex;
    justify-content: space-around;
    width: 37%;
    margin: auto;
    vertical-align: middle;
    align-items: center;
    margin-top: 30px;
    transition: 0.5s;
}
.weiter-btn-resto:hover {

color: #ffffff;
background-color: #3a3a3c;

  }

  .unch-about{
width: 120px;
    
  }
.uber-unchi {
    position: relative;
    right: 25%;
    bottom: -13px;
}
 .why-us {
    background: #FFF;
    padding: 0;
    margin-bottom: 100px;
}
.why-us .content {
    padding: 23px 56px 0 55px;
    background: #c52a39;
    color: #FFF;
    height: 450px;
}
.why-us .content h3 {
  font-weight: 400;
  font-size: 34px;
}

.why-us .content h4 {
  font-size: 20px;
  font-weight: 700;
  margin-top: 5px;
}

.why-us .content p {
    font-size: 22px;
    color: #FFF;
    min-height: 220px;
    padding-top: 32px;
    line-height: 39px;
}
.why-us .video-box {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 400px;
  position: relative;
}

.why-us .accordion-list {
  padding: 0 100px 60px 100px;
}

.why-us .accordion-list ul {
  padding: 0;
  list-style: none;
}

.why-us .accordion-list li + li {
  margin-top: 15px;
}

.why-us .accordion-list li {
  padding: 20px;
  background: #fff;
  border-radius: 4px;
}

.why-us .accordion-list a {
  display: block;
  position: relative;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  padding-right: 30px;
  outline: none;
}

.why-us .accordion-list span {
  color: #0880e8;
  font-weight: 600;
  font-size: 18px;
  padding-right: 10px;
}

.view-all {
    color: #c52a39;
    float: right;
    font-size: 20px;
    padding: 15px;
}
@media (max-width: 1024px) {
  .why-us .content, .why-us .accordion-list {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 992px) {
  .why-us .content {
    padding-top: 30px;
  }
  .why-us .accordion-list {
    padding-bottom: 30px;
  }
}

@-webkit-keyframes pulsate-btn {
  0% {
    transform: scale(0.6, 0.6);
    opacity: 1;
  }
  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
}

@keyframes pulsate-btn {
  0% {
    transform: scale(0.6, 0.6);
    opacity: 1;
  }
  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
}

.blog .btn-primary {
    border-radius: 50px;
    padding: 10px 30px;
    border: 0;
    background-color: #c52a39;
}
.blog .btn-primary:hover {
    background-color: #000000;
}
.login-filed .form-control {
    display: block;
    width: 100%;
    height: calc(2.5em + .75rem + 2px);
    }
    .welcome-text{

      height: 657px;
       background: url("../img/client.png") no-repeat;
           background-size: cover;
    }
 .welcome-text h2 {
    position: absolute;
    z-index: 99;
    color: #FFF;
    width: 100%;
    top: 29%;
    bottom: 0;
    font-weight: bold;
    font-size: 39px;
}
.welcome-text::after {
    background-color: #181818a3;
    content: "";
    height: 657px;
    position: absolute;
    left: 0;
    width: 100%;
    top: 0;
}

 .reply-form h4 {
    font-weight: bold;
    font-size: 25px;
    }

 .reply-form{
        padding: 45px;
        }

 
.emp-profile{
    padding: 3%;
    margin-top: 3%;
    margin-bottom: 3%;
    border-radius: 0.5rem;
    background: #fff;
    box-shadow: 1px -3px 36px -9px #949494;
}
.profile-img{
    text-align: center;
}
.profile-img img{
    width: 70%;
    height: 100%;
}
.profile-img .file {
    position: relative;
    overflow: hidden;
    margin-top: -20%;
    width: 70%;
    border: none;
    border-radius: 0;
    font-size: 15px;
    background: #c52a3980;
}
.profile-img .file input {
    position: absolute;
    opacity: 0;
    right: 0;
    top: 0;
}
.profile-head h5{
    color: #333;
}
.profile-head h6{
    color: #3a3a3c;
}
.profile-edit-btn {
    border: none;
    border-radius: 1.5rem;
    width: 100%;
    background: #c52a39;
    padding: 9px 19px;
    font-weight: 600;
    color: #ffffff;
    cursor: pointer;
    transition: 0.5s;
    font-size: 15px;
    text-align: center;
}
.profile-edit-btn:hover {
color: #ffffff;
background-color: #3a3a3c;
  }
.proile-rating{
    font-size: 12px;
    color: #818182;
    margin-top: 5%;
}
.proile-rating span{
    color: #495057;
    font-size: 15px;
    font-weight: 600;
}
.profile-head .nav-tabs{
    margin-bottom:5%;
}
.profile-head .nav-tabs .nav-link{
    font-weight:600;
    border: none;
    color: #3a3a3c;
}
.profile-head .nav-tabs .nav-link.active{
    border: none;
    border-bottom:2px solid #c52a39;
    color: #c52a39;
}
.profile-work{
    padding: 14%;
    margin-top: -15%;
}
.profile-work p{
    font-size: 12px;
    color: #818182;
    font-weight: 600;
    margin-top: 10%;
}
.profile-work a{
    text-decoration: none;
    color: #495057;
    font-weight: 600;
    font-size: 14px;
}
.profile-work ul{
    list-style: none;
}
.profile-tab label{
    font-weight: 600;
}
.profile-tab p{
    font-weight: 600;
    color: #0062cc;
}   

 .profile-tab .nav-tabs .nav-link.active {
    color: #c52a39 !important;
    background-color: #fff;
    border-color: #dee2e6 #dee2e6 #fff;
}   
/*.profile-head ul li a{

  color: #444444;
}*/


.dating-form input::placeholder {
  color: #FFF !important;
}
.mt-5a {
    margin-top: 90px;
}
.error {
    color: #da0115;
}
.clients .owl-item img {
    width: 100%;
    /* opacity: 0.5; */
    transition: 0.3s;
    height: 220px;
    max-height: 100%;
}
.row-botm {
    border-bottom: 2px solid #c52a39;
    margin-bottom: 45px;
}

#pic{
     display: none;
       }
       
 .newbtn{
         cursor: pointer;
      }
      #blah {
    max-width: 150px;
    height: 118px;
    /*margin-top: 20px;*/
    margin-bottom: 25px;
    border: 2px solid #c52a39;
}
.neslat-update {
    text-align: center;
    display: flex;
    justify-content: center;
    background: #c52a39;
    color: #FFF;
    padding: 11px;
    border: 1px solid #FFF;
    text-transform: uppercase;
    font-size: 18px;
    width: 217px;
    border-radius: 3px;
    transition: 0.5s;
}
.neslat-update:hover {
    color: #ffffff;
    background-color: #3a3a3c;
}

/************************media size*********************/

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

.slider-text-love h1 {
font-size: 20px;

}
.slider-text-love br{
  display: none;
}
#hero1 {
  margin-bottom: 0;
  height: 162vh;
}
.slider-text-love h4{

  font-size: 16px;
}
.slider-text-love img{

  width: 16px;
}
.icon-boxes .icon-box {
    padding: 18px 23px;
    margin-top: 32px;
    }
    .form-text h3 {
    font-size: 23px;
}
.icon-boxes .title a {
    font-size: 20px;
 
}
.raid-fanc label {
   
    font-size: 14px;
}
.uber-unchi {
    position: inherit !important;
    right: 0 !important;
    bottom: -13px;
}
.why-us .content p {
    font-size: 18px;
    color: #FFF;
    min-height: 220px;
    padding-top: 32px;
    line-height: 30px;
    padding: 23px;
}
.why-us .content {
   
    height: 355px !important;
}
.contact h4 {
   
    padding: 7px 11px;
    line-height: 17px;
    font-size: 13px;
}
.weiter-btn-resto {
    background: #c52a39;
    color: #FFF;
    padding: 10px 7px;
    font-size: 15px;
    display: flex;
    justify-content: space-around;
    width: 39%;
    margin: auto;
    vertical-align: middle;
    align-items: center;
    margin-top: 9px;
    transition: 0.5s;
}
#header {
  box-shadow: none;
}
.slider-text-love {
    width: 90% !important;
}
.raid-fanc .col-md-3 {

  width: 30%;
}
.weiter-btn {
    width: 55% !important;
}
#hero p {
    width: 80%;
    margin: 0 auto 30px auto;
    color: #5f5f5f;
    background: #FFF;
    padding: 13px 19px;
    font-size: 13px;
    border-radius: 6px;
    color: #c52a39;
}
#hero .carousel-control-next-icon, #hero .carousel-control-prev-icon {
    background: #FFF;
    font-size: 21px;
    }
    .circle-img {
    height: 73px;
    width: 73px;
  }
  #hero h2 {
    color: #fff;
    margin-bottom: 1px;
}
#hero h2 {
    font-size: 21px;
}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {...}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {...}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {...}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {...}

/*********************check box*************************************/

.new {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
}

.new .form-group {
  display: block;
  margin-bottom: 15px;
}
.new .form-group{

  margin-right: 15px;
  width: 30%;
}

.new .form-group input {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer;
}

.new .form-group label {
  position: relative;
  cursor: pointer;
}

.new .form-group label:before {
  content:'';
  -webkit-appearance: none;
  background-color: transparent;
  border: 2px solid #c52a39;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 8px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 5px;
}

.new .form-group input:checked + label:after {
  content: '';
  display: block;
  position: absolute;
  top: 5px;
  left: 9px;
  width: 6px;
  height: 14px;
  border: solid #c52a39;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
.suces-box {
    border: 1px solid #e8e8e8;
    height: 220px;
    border-radius: 6px;

}

.img-story{
height: 168px;
overflow: hidden;
 border-top-right-radius: 6px;
  border-top-left-radius: 6px;

}
.suc-pride{
  text-align: center;
   height: 310px;
   background: url("../img/succes.jpg") no-repeat;
   background-size: 100% auto;
}
.suc-pride::after {
    background-color: #181818a3;
    content: "";
    height: 310px;
    position: absolute;
    left: 0;
    width: 100%;
    top: 0;
}
.suces-box h4 {
    text-align: center;
    padding: 12px;
    color: #FFF;
    font-size: 21px;
    font-weight: 600;
    background: #c52a39;
}
.img-story img {
    width: 337px;
    max-width: 100%;
   
}
.suc-pride h3 {
    color: #FFF;
    position: absolute;
    z-index: 9;
    left: 0;
    right: 0;
    top: 112px;
    bottom: 0;
    font-size: 38px;
}
.suc-details{

  text-align: center;
   height: 250px;
   background: url("../img/pass.png") no-repeat;
   background-size: 100% auto;
}
.suc-details::after {
    background-color: #181818a3;
    content: "";
    height: 250px;
    position: absolute;
    left: 0;
    width: 100%;
    top: 0;
}
.suc-details h3 {
    color: #FFF;
    position: absolute;
    z-index: 9;
    left: 0;
    right: 0;
    top: 70px;
    bottom: 0;
    font-size: 38px;
}
.profile-detisl-pic {
    width: 100%;
    height: 400px;
    overflow: hidden;
    margin: auto;
    border: 2px solid #d31818;
    padding: 5px;
    background: #fff;
}
.profile-detisl-pic img {
    width: 100%;
    height: auto;
    max-width: 600px;
}
.profile-hart img {
    width: 100%;
    height: auto;
    max-width: 100px;
}
.d-name {
    background-color: #d31818;
    padding: 7px;
    color: #FFF;
    font-size: 23px;
}
.d-name p {
    font-size: 17px;
    margin-bottom: 0;
}

 #exampleFormControlSelect1 option{
     padding: 10px;
  }
  .quesiotn-select select > option{

    padding: 10px;
  }
.quest-asne {
    border: 2px solid #c52a39;
    padding: 14px 35px;
    min-height: 550px !important;
}
  /*.radio-toolbar input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
}
.radio-toolbar{


}
.radio-toolbar label {
    display: inline-block;
    background-color: #ddd;
    padding: 6px 33px;
    font-size: 19px;
    border: 1px solid #bec0c1;
    border-radius: 50px;
    color: #FFF;
    transition: 0.5s;
   
}
.radio-toolbar label:hover {
    background-color: #c52a39;
}

.radio-toolbar input[type="radio"]:focus + label {
    border: 1px dashed #c52a39;
}

.radio-toolbar input[type="radio"]:checked + label {
    background-color: #c52a39;
    border-color: #c52a39;
   
}*/
.questinar{

  text-align: center;
   height: 250px;
   background: url("../img/quest.png") no-repeat;
   background-size: 100% auto;
}
.questinar::after {
    background-color: #181818a3;
    content: "";
    height: 250px;
    position: absolute;
    left: 0;
    width: 100%;
    top: 0;
}
.questinar h3 {
    color: #FFF;
    position: absolute;
    z-index: 9;
    left: 0;
    right: 0;
    top: 70px;
    bottom: 0;
    font-size: 38px;
}

.neslat-step {
    text-align: center;
    display: flex;
    justify-content: center;
    background: #c52a39;
    color: #FFF;
    padding: 11px 49px;
    text-transform: uppercase;
    font-size: 18px;
    transition: 0.5s;
    border-radius: 6px;
    width: 250px;
    border: 1px solid #FFF;
}
.neslat-step:hover {
    color: #ffffff;
    background-color: #3a3a3c;
}
/**********************************/
.step-yop {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 29px;
    margin-top: 33px;
}
.step-yop:before{
  content: "";
  position: absolute;
  border: 1px solid #ddd;
  width: 72%;
}

.quest-nar h3{

   text-align: center;
}